<style>
  .user_documents-new {
    background: #fed853 !important;
  }
</style>
<div class="crayons-layout crayons-layout--3-cols crayons-layout--3-cols--drop-right-left">
  <div class="sidebar-wrapper sidebar-wrapper-left crayons-layout__sidebar-left">
  </div>
  <% unless flash[:notice].present? %>
    <div class="articles-list crayons-layout__content">
      <h1 class="application-heading">
        Join UnitedBits and Sell Your Music Online
      </h1>
      <p class="application-text">
        Compose and perform music-paying commissions online.
      </p>
      <br>

      <%= form_with model: @user_document, url: user_documents_path(@user_document), method: :post, html: { class: "mb-2" }, local: true  do |f| %>
        <!-- Basic fields -->
        <div class="fields-div">
          <h1>
            Account verification
          </h1>
          <div class="form-group">
            <%= f.label "Government Issue id ", class: "d-block fields-label" %>
            <%= f.text_field :government_id, class: "form-control fields-input" %>
          </div>
          <div class="form-group">
            <%= f.label "Card number ", class: "d-block fields-label" %>
            <%= f.text_field :card_last_4, class: "form-control fields-input" %>
          </div>
          <div class="form-group">
            <%= f.label "Expiry date ", class: "d-block fields-label" %>
            <%= f.text_field :exp_year, class: "form-control fields-input", placeholder: 'YY' %>
            <%= f.text_field :exp_month, class: "form-control fields-input", placeholder: 'MM' %>
          </div>
          <div class="form-group">
            <%= f.label "CVC ", class: "d-block fields-label" %>
            <%= f.text_field :cvc, class: "form-control fields-input" %>
          </div>
          <div class="form-group">
            <%= f.label "Bank account ", class: "d-block field-label-normal" %>
            <%= f.text_field :bank_account, class: "form-control fields-input" %>
          </div>
          <div class="form-group">
            <%= f.label "IBAN ", class: "d-block field-label-normal" %>
            <%= f.text_field :iban_number, class: "form-control fields-input" %>
          </div>
          <div class="form-group">
            <%= f.label "Ethereum address ", class: "d-block field-label-normal" %>
            <%= f.text_field :ethereum_address, class: "form-control fields-input" %>
          </div>
          <div class="form-group">
            <%= f.label "Bitcoin address ", class: "d-block field-label-normal" %>
            <%= f.text_field :bitcoin_address, class: "form-control fields-input" %>
          </div>
          <%= f.hidden_field :user_id, value: @user_id %>
        </div>
        <br><br>

        <%= f.submit "Submit documents", class: "crayons-btn application-submit-btn" %>
        <br><br>
      <% end %>
    </div>
  <% else %>
    <div class="thank-you-div">
      <h1>
        Thank you
      </h1>
      <p>
        We are processing your application. We will get back to you within the next 72 hours
      </p>
    </div>
  <% end %>
  <div class="sidebar-wrapper sidebar-wrapper-right crayons-layout__sidebar-right"></div>
</div>
