<% if type == "ninty_second" %>
  <div class="container">
    <%= form_with model: ProjectEvent, url: create_organizations_event_path(), method: :post, html: { class: "mb-2" }, local: true do |f| %>
      <% organization_ninty_second_events = @organization_events.try(:ninty_second).present? ? @organization_events.ninty_second : []  %>

      <div class="row">
        <p style="font-family: 'Roboto', sans-serif;font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.1px;
          color: #000000;">90 SEC MUSIC TUNES</p>
        <p style="font-family: 'Roboto', sans-serif;font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.1px;
          color: #000000;
          margin-top: 2rem">Create 90 sec music tunes for your fans</p>
        <p class="color-gray">Compose and perform short music cues and songs of 90 sec or less such as a brthday song. Select multiple types, if you like </p>
        <input type="hidden" name="organization_type" value="<%= organization_type %>">
        <div class="form-group crayons-layout" style="grid-template-columns: 1fr 1fr 1fr 1fr !important;" >
          <% @ninty_second_events.each_with_index do |event, index| %>
            <% current_event = organization_ninty_second_events.where(title: event.first).first %>
            <div class="event-boxes <%= current_event&.active? ? "services-box-selected" : "services-box" %> services-select" id="<%= index %><%= event.first.delete(' ') %>" onclick="toggleService('<%= event.first.delete(' ') %>', '<%= index %><%= event.first.delete(' ') %>')">
            <span style="font-family: Roboto; font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 21px;
              text-align: center;
              color: #000000;"><%= event.first %></span>
              <input type="hidden" name="project_events[ninty_second_<%= index %>][id]" value="<%= current_event.try(:id)  %>"/>
              <input type="hidden" name="project_events[ninty_second_<%= index %>][active]" id="<%= event.first.delete(' ') %>" value="<%= current_event&.active? ? true : "" %>"/>
              <input type="hidden" name="project_events[ninty_second_<%= index %>][title]" value="<%= event.first %>"/>
              <input type="hidden" name="project_events[ninty_second_<%= index %>][icon]" value="<%= event.second %>"/>
              <input type="hidden" name="project_events[ninty_second_<%= index %>][event_type]" value="ninty_second"/>
              <input type="hidden" name="project_events[ninty_second_<%= index %>][organization_id]"  value="<%= organization_id %>"/>
              <img src="<%= event.second %>" class="services-icon-unselected" alt="">
            </div>
          <% end %>
        </div>
      </div>
      <%= f.submit "Add to project", class: "crayons-btn application-submit-btn organization-submit-btn" %>
    <% end %>
  </div>

<% else %>
  <div class="container">
    <%= form_with model: ProjectEvent, url: create_organizations_event_path(), method: :post, html: { class: "mb-2" }, local: true do |f| %>
      <div class="row">
        <% organization_casual_events = @organization_events.try(:casual).present? ? @organization_events.casual : [] %>
        <p style="font-family: 'Roboto', sans-serif;font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.1px;
          color: #000000;">First select the type of events and activities </p>
        <p class="color-gray">Select the type of events and activities you want to make music for. Select multiple type of occassions, if you like.</p>
        <p style="font-family: 'Roboto', sans-serif;font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.1px;
          color: #000000;
          margin-top: 2rem">Events</p>
        <div class="form-group crayons-layout" style="grid-template-columns: 1fr 1fr 1fr 1fr !important;" >
          <% @events.each_with_index do |event, index| %>
            <% current_event = organization_casual_events.where(title: event.first).first %>
            <div class="event-boxes <%= current_event&.active? ? "services-box-selected" : "services-box" %> services-select" id="<%= index %><%= event.first.delete(' ') %>" onclick="toggleService('<%= event.first.delete(' ') %>', '<%= index %><%= event.first.delete(' ') %>')">
            <span style="font-family: Roboto; font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 21px;
              text-align: center;
              color: #000000;"><%= event.first %></span>
              <input type="hidden" name="project_events[casual_<%= index %>][id]" value="<%= current_event.try(:id)  %>"/>
              <input type="hidden" name="project_events[casual_<%= index %>][active]" id="<%= event.first.delete(' ') %>" value="<%= current_event&.active? ? true : "" %>"/>
              <input type="hidden" name="project_events[casual_<%= index %>][title]" value="<%= event.first %>"/>
              <input type="hidden" name="project_events[casual_<%= index %>][icon]" value="<%= event.second %>"/>
              <input type="hidden" name="project_events[casual_<%= index %>][event_type]" value="casual"/>
              <input type="hidden" name="project_events[casual_<%= index %>][organization_id]"  value="<%= organization_id %>"/>
              <img src="<%= event.second %>" class="services-icon-unselected" alt="">
            </div>
          <% end %>
        </div>

        <p style="font-family: 'Roboto', sans-serif;font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.1px;
          color: #000000;
          margin-top: 2rem">Sports</p>
        <% organization_sport_events = @organization_events.try(:sport).present? ? @organization_events.sport : [] %>
        <p class="color-gray">Select multiple types of sports activities. If you like or none.</p>
        <div class="form-group crayons-layout" style="grid-template-columns: 1fr 1fr 1fr 1fr !important;" >
          <% @sport_events.each_with_index do |event, index| %>
            <% current_event = organization_sport_events.where(title: event.first).first %>
            <div class="event-boxes <%= current_event&.active? ? "services-box-selected" : "services-box" %> services-select" id="<%= index %><%= event.first.delete(' ') %>" onclick="toggleService('<%= event.first.delete(' ') %>', '<%= index %><%= event.first.delete(' ') %>')">
            <span style="font-family: Roboto; font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 21px;
              text-align: center;
              color: #000000;"><%= event.first %></span>
              <input type="hidden" name="project_events[sport_<%= index %>][id]" value="<%= current_event.try(:id)  %>"/>
              <input type="hidden" name="project_events[sport_<%= index %>][active]" id="<%= event.first.delete(' ') %>" value="<%= current_event&.active? ? true : "" %>"/>
              <input type="hidden" name="project_events[sport_<%= index %>][title]" value="<%= event.first %>"/>
              <input type="hidden" name="project_events[sport_<%= index %>][icon]" value="<%= event.second %>"/>
              <input type="hidden" name="project_events[sport_<%= index %>][event_type]" value="sport"/>
              <input type="hidden" name="project_events[sport_<%= index %>][organization_id]"  value="<%= organization_id %>"/>
              <img src="<%= event.second %>" class="services-icon-unselected" alt="">
            </div>
          <% end %>
        </div>

      </div>
      <%= f.submit "Add to project", class: "crayons-btn application-submit-btn organization-submit-btn" %>
    <% end %>
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">
  function toggleService(type, id){
    if (document.getElementById(id).classList.contains('services-box')) {
      document.getElementById(id).classList.add("services-box-selected")
      document.getElementById(id).classList.remove("services-box")
      document.getElementById(type).value = "true"
    }else{
      document.getElementById(id).classList.remove("services-box-selected")
      document.getElementById(id).classList.add("services-box")
      document.getElementById(type).value = ""
    }
  }
</script>
