<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
<%= javascript_include_tag 'multiselect.min' %>
<%= stylesheet_link_tag "multiselect" %>
<%= javascript_include_tag 'application' %>
<style>
  .pointer-none {
    pointer-events: none;
  }
  .font-2rem{
    font-size: 2rem;
  }
  .color-gray{
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 137.19%;
    color: #64707D;
  }
  .container{
    background: #fed852;
    padding: 15px;
    border: 1px solid white !important;
  }
  .organization-fields{
    width: 100% !important;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    background: #F9FAFA;
    border: 2px solid #B5BDC4;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  .track-fields{
    background: #ffffff;
    width: 100% !important;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid #B5BDC4;
    box-sizing: border-box;
    border-radius: 5px
  }
  .track-labels{
    font-family: 'Roboto', sans-serif; margin-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
  }
  .single_track_btn{
    background: rgba(253, 0, 84, 0.13) !important;
    border: 2px solid #FD0054 !important;
    box-sizing: border-box !important;
    font-size: 17px !important;
    line-height: 20px !important;
    text-align: center !important;
    letter-spacing: 0.1px !important;
    color: #000000 !important;
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
  .album_btn{
    background: rgba(167, 209, 41, 0.13) !important;
    border: 2px solid #A7D129 !important;
    box-sizing: border-box !important;
    font-size: 17px !important;
    line-height: 20px !important;
    text-align: center !important;
    letter-spacing: 0.1px !important;
    color: #000000 !important;
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
  .music_set_btn{
    background: rgba(164, 168, 255, 0.24) !important;
    border: 2px solid #A4A8FF !important;
    box-sizing: border-box !important;
    font-size: 17px !important;
    line-height: 20px !important;
    text-align: center !important;
    letter-spacing: 0.1px !important;
    color: #000000 !important;
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
  }
  .organization-submit-btn{
    height: 60px !important;
    background: #454545 !important;
    border-radius: 10px !important;
    flex: none !important;
    order: 1 !important;
    flex-grow: 0 !important;
  }
  .display-inline{
    display: inline-block;
  }
  .display-none{
    display: none;
  }
  #rmv_org_img{
    border: 1px solid red !important;
  }
  .required-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #08090A;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  .deejaying-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #08090A;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
</style>
<% if flash[:notice].present? %>
  <div class="row">
    <div class="alert alert-success">Project created successfully</div>
  </div>
<% end %>
<div class="row">
  <% if @organization.try(:id).present? %>
    <p style="font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;color: #08090A;
      line-height: 36px;">@<%= @organization.music_releases.present? ? @organization.music_releases.first.title : @organization.name %></p>
  <% else %>
    <p style="font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;color: #08090A;
      line-height: 36px;">Create a new single track release</p>
  <% end %>
</div>

<div class="row">
  <p class="color-gray">This service is designed to bring you an easy-to-use form to launch a new track and fix collaborations.</p>
</div>
<br>
<div class="row" >
  <% if @organization.try(:id).present? %>
    <div class="crayons-card crayons-card--content-rows" style="background: #fed853 !important; margin-top: 10px; grid-gap: 0">
      <div class="row">
        <p style="font-family: 'Roboto', sans-serif;font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          color: #08090A;
          flex: none;
          order: 0;
          flex-grow: 0;">Invite your crew members</p>
      </div>
      <div class="row">
        <p class="color-gray" style="margin-bottom: 20px">Grow your team by sending them the secret and following instructions</p>
      </div>
      <div class="crayons-card crayons-card--secondary p-4" style="background: #fed853 !important; margin-bottom: 20px">
        <ol class="list-decimal pl-6 mb-2">
          <li>Sign up at
            <a href="<%= app_url %>"><%= app_url %></a></li>
          <li>Navigate to
            <a href="<%= app_url('artist_settings/single-track-music-page') %>"><%= app_url('artist_settings/single-track-music-page') %></a>
          </li>
          <li>Paste the secret code below and click <b>Join Project</b></li>
        </ol>
        <p>
          Your secret code is:
          <clipboard-copy for="settings-org-secret">
            <div id="copy-clip" onclick="copyToClipboard()">
              <input type="text" class="ff-monospace ff-s fw-medium" id="settings-org-secret" value="<%= @organization.secret %>" readonly aria-label="Organization secret (to be rotated regularly)">
              <%= inline_svg_tag("copy.svg", aria: true, class: "crayons-icon", title: "Copy to clipboard") %>
            </div>
          </clipboard-copy>
          <span class="copy-text-announcer" id="copy-text-announcer" role="alert" hidden>Copied to clipboard!</span>
      </div>

      <div class="flex items-center">
        <%= form_tag "/organizations/generate_new_artist_secret", onsubmit: "return confirm('Are you sure you want to generate a new secret? All outstanding secrets will be invalid.');" do %>
          <%= hidden_field_tag "organization[id]", @organization.id %>
          <button type="submit" class="crayons-btn crayons-btn--secondary" style="background: #454545 !important; color: white !important;">Generate new secret</button>
        <% end %>
        <p class="fw-medium color-accent-danger ml-3">You should rotate this regularly!</p>
      </div>
    </div>
  <% end %>
  <%= form_with model: @organization, url: create_organization_path(@organization), method: :post, html: { class: "mb-2", multipart: true  }, local: true do |f| %>
    <div class="container">
      <div class="row">
        <p style="font-family: 'Roboto', sans-serif;font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          color: #08090A;
          flex: none;
          order: 0;
          flex-grow: 0;">Team and royalties structure
        </p>
      </div>
<!--      <div class="row">-->
<!--        <p class="color-gray">Invite your crew members by sharing secret. First create your the project</p>-->
<!--      </div>-->
      <div class="grid gap-2" style="margin-top: 20px; margin-bottom: 10px; background: #fed853 !important">
        <div class="crayons-card crayons-card--secondary p-4 flex items-center" style="background: #fed853 !important">
          <p class="fw-medium flex-1">
            <a href="#"><%= current_user.username.capitalize %></a>
            <span class="crayons-indicator">You</span>

            <span class="crayons-indicator crayons-indicator--critical">Admin</span>
          </p>

          <div class="flex">
            <!-- TODO: ? -->
          </div>
        </div>
      </div>
      <br>
      <div class="row" id="contributors-div">
        <% if @organization.try(:id).present? && @organization.organization_memberships.present? %>
          <p style="color: darkred">Total royalties must be 100%</p>
          <!-- Contributor -->
          <div style="padding: 0px;" class="contributor" >
            <div class="form-group" style="width: 47%; display: inline-block">
              <p class="track-labels">Unitedbits platform</p>
              <input type="text" class="form-control track-fields" value="Unitedbits" style="padding: 7px !important; background: #e2e2e2; cursor: not-allowed" readonly>
            </div>
            <div class="form-group" style="width: 47%; display: inline-block">
              <p class="track-labels">Royalties in percentage</p>
              <input type="text" class="form-control track-fields royalties-percentage"  style="padding: 7px !important; background: #e2e2e2; cursor: not-allowed " placeholder="Set royalties percentage" value="20" readonly>
            </div>
          </div>
          <% @organization.organization_memberships.each_with_index do |value, index| %>
            <div style="padding: 0px;" class="contributor-div" id="<%= index %>-contributor-div">
              <div class="form-group" style="width: 47%; display: inline-block">
                <p class="track-labels">Crew member</p>
<!--                <select name="organization_memberships[][collaborator_id]" class="form-control track-fields" style="padding: 7px !important;" readonly>-->
<!--                  <option value="<%#= value.collaborator.id %>" selected><%#= value.collaborator.username %></option>-->
<!--                </select>-->
                <input type="text" value="<%= value.collaborator.username %>" class="form-control track-fields" style="padding: 7px !important; background: #e2e2e2; cursor: not-allowed" readonly>
                <input type="hidden" value="<%= value.collaborator.id %>" name="organization_memberships[][collaborator_id]" class="form-control track-fields" style="padding: 7px !important;" readonly>
              </div>
              <div class="form-group" style="width: 47%; display: inline-block">
                <p class="track-labels">Royalties in percentage</p>
                <input type="text" name="organization_memberships[][royalty]" class="form-control track-fields royalties-percentage" placeholder="Set royalties percentage" value="<%= value.royalty %>" required>
              </div>
              <% if value.collaborator_id == current_user.id %>
                <i class="fa fa-times-circle" style="display: none" id="<%= index %>-closeContributor" onclick="closeContributors(<%= index %>)"></i>
            <% else %>
                <i class="fa fa-times-circle" id="<%= index %>-closeContributor" style="cursor: pointer" onclick="closeContributors(<%= index %>)"></i>
            <% end %>
            </div>
         <% end %>
        <% else %>
          <p style="color: darkred">Total royalties must be 100%</p>
          <!-- Contributor -->
          <div style="padding: 0px;" class="contributor" >
            <div class="form-group" style="width: 47%; display: inline-block">
              <p class="track-labels">Unitedbits platform</p>
              <input type="text" class="form-control track-fields" value="Unitedbits" style="cursor: not-allowed" readonly>
            </div>
            <div class="form-group" style="width: 47%; display: inline-block">
              <p class="track-labels">Royalties in percentage</p>
              <input type="text" class="form-control track-fields royalties-percentage"  style="cursor: not-allowed" placeholder="Set royalties percentage" value="20" readonly>
            </div>
          </div>
          <!-- Contributor -->
          <div style="padding: 0px;" class="contributor-div" id="0-contributor-div">
            <div class="form-group" style="width: 47%; display: inline-block">
              <p class="track-labels">Crew member</p>
              <select name="organization_memberships[][collaborator_id]" class="form-control track-fields" style="padding: 7px !important;" readonly>
                <option value="<%= current_user.id %>" selected><%= current_user.username %></option>
              </select>
            </div>
            <div class="form-group" style="width: 47%; display: inline-block">
              <p class="track-labels">Royalties in percentage</p>
              <input type="text" name="organization_memberships[][royalty]" class="form-control track-fields royalties-percentage" placeholder="Set royalties percentage" required>
            </div>
            <i class="fa fa-times-circle" style="display: none" id="0-closeContributor" onclick="closeContributors(0)"></i>
          </div>
        <% end %>
      </div>
      <div class="form-group" style="width: 47%; display: inline-block">
      </div>
      <div class="form-group" style="width: 47%; display: inline-block">
        <p class="track-labels">Royalties in total</p>
        <input type="text" class="form-control track-fields" id="royalties-total" value="" readonly style="cursor: not-allowed">
      </div>
      <% if @organization.try(:id).present? %>
        <a style="display: none" href="#" onclick="addItem();return false;">Add new Item</a>
        <div class="alert alert-danger" style="display: none" id="royalty-error">
          <p>Verify royalties split to 100% not more</p>
        </div>
        <p style="color: darkred">You will see all the contributors here when they accept your invitation</p>

    <% else %>
        <div class="alert alert-danger" style="display: none" id="royalty-error">
          <p>Verify royalties split to 100% not more</p>
        </div>
      <% end %>
    </div>
  <!-- Single Track Music Page -->
    <div class="container" style="padding: 0px">

      <div class="row" style="padding: 20px; background: white">
        <p style="font-family: 'Roboto', sans-serif;font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.1px;
          color: #000000;">Single track project with royalities for fans</p>
        <br>
        <div class="row">
          <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Artist Name</p>
          <p class="color-gray">Pick a brand name for your services, your project, or your band. You can always just use your name.</p>
          <div class="form-group">
            <input type="hidden" name="organization[organization_type]" value="single_track">
            <%= f.hidden_field :id, value: "#{@organization.try(:id)}" %>
            <input type="hidden" name="organization[artist_id]" value="<%= current_user.id %>">
            <%= f.text_field :name, class: "form-control organization-fields", required: true %>
          </div>
        </div>
        <div class="form-group">
          <p class="track-labels">Single title</p>
          <input type="hidden" name="music_release[user_id]" value="<%= current_user.try(:id) %>">
          <input type="hidden" name="music_release[music_release_type]" value="single">
          <input type="hidden" name="music_release[id]" value="<%= @single.try(:id) %>">
          <input type="text" name="music_release[title]" class="form-control track-fields" placeholder="Enter title name" value="<%= @single.try(:title) %>" required>
        </div>
        <div class="crayons-layout" style="padding: 0px; grid-template-columns: 1fr 1fr 1fr !important;">
          <div class="form-group">
            <p class="track-labels">Price per song</p>
            <input type="text" name="music_release[price]" class="form-control track-fields" placeholder="Set a price for your music" value="<%= @single.try(:price) %>" required>
          </div>
          <div class="form-group">
            <p class="track-labels">Length</p>
            <input type="text" name="music_release[length]" class="form-control track-fields" placeholder="Set approx playtime" value="<%= @single.try(:length) %>" required>
          </div>
          <div class="form-group">
            <p class="track-labels">Number of Limited Edition copies</p>
            <input type="text" name="music_release[copies]" class="form-control track-fields" placeholder="How many copies you make" id="customer-copies" value="<%= @single.try(:copies) %>" required>
          </div>
        </div>
        <div class="form-group">
          <p class="track-labels">Royalties</p>
          <input type="text" name="music_release[royalty]" class="form-control track-fields" id="customer-royalties" placeholder="Royalties percentage" value="<%= @single.try(:royalty) %>" required>
        </div>
        <div class="form-group">
          <p class="track-labels">Project Details</p>
          <input type="text" name="music_release[description]" class="form-control track-fields" placeholder="Enter details here" value="<%= @single.try(:description) %>" required>
        </div>
        <div class="form-group">
          <p class="track-labels">Slug</p>
          <input type="text" name="music_release[slug]" class="form-control track-fields" placeholder="This is the web address of your project" value="<%= @single.try(:slug) %>" required>
        </div>
      </div>

      <div class="row" style="padding: 20px; padding-top: 0px; background: white">
        <p style="font-size: 24px;font-family: 'Roboto', sans-serif; font-weight: 600">Cover image</p>
        <br>
        <div class="form-group">
          <p style="font-weight: 600;font-size: 15px;font-family: 'Roboto', sans-serif;">Choose a great image for your project</p>
<!--          <div class="org_image_preview display-inline">-->
<!--            <img id="previewImg_single" class="<%#= f.object&.header_image_url.present? ? "" : "display-none" %>" src="<%#= f.object&.header_image_url %>" alt="Placeholder" style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1); width: 108px; height: 108px">-->
<!--          </div>-->
          <!--        <div class="display-inline">-->
          <!--          <button class="crayons-btn crayons-btn--outlined mr-2">-->
          <!--            <label for="cover-image-input" id="upload_img_label_<%#= type %>">-->
          <%#= f.object&.image.present? ? "Change" : "Upload Image" %>
          <!--            </label>-->
          <!--            <input id="cover-image-input_<%#= type %>" type="file" data-img_id="previewImg_<%#= type %>" data-label_id="upload_img_label_<%#= type %>" data-rmv_btn_id="rmv_org_img_<%#= type %>" onchange="previewFile(this);" name="music_release[image]" accept="image/*" class="w-100 h-100 absolute left-0 right-0 top-0 bottom-0 overflow-hidden opacity-0 cursor-pointer" data-max-file-size-mb="25">-->
          <!--          </button>-->
          <!--          <button class="crayons-btn crayons-btn--ghost-danger <%#= f.object&.image.present? ? "" : "display-none" %>" data-file_field="cover-image-input_<%#= type %>" data-img_id="previewImg_<%#= type %>" data-label_id="upload_img_label_<%#= type %>" data-rmv_btn_id="rmv_org_img_<%#= type %>" onclick="removeFile(this);" id="rmv_org_img_<%#= type %>" type="button">Remove</button>-->
          <!--        </div>-->
          <input type="hidden" name="music_release[header_image_url]" id="single-header-img-url" value="<%= @single.try(:header_image_url) %>">
          <div class="org_image_preview display-inline">
            <img id="previewImg_single" class="<%= @single.try(:header_image_url).present? ? "" : "display-none" %>" src="<%= @single.try(:header_image_url) %>" alt="Placeholder" style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1); width: 108px; height: 108px">
          </div>
          <div class="display-inline">
            <button class="crayons-btn crayons-btn--outlined mr-2">
              <input type="file" id="single-header-img" class="form-control track-fields">
              <div id="single-img-error" style="display: none" class="alert alert-danger"></div>
            </button>
          </div>
          <%#= f.file_field :image, class: "form-control track-fields", required: true, placeholder: "Enter title name" %>
        </div>
      </div>

<!--      <div class="row" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px; background: white">-->
<!--        <div class="form-group">-->
          <%# if organization&.id.present? %>
            <%#= f.submit submit_btn, class: "crayons-btn application-submit-btn #{btn_class}" %>
          <%# else %>
            <%#= f.submit submit_btn, class: "crayons-btn application-submit-btn #{btn_class}", disabled: true %>
          <%# end %>
<!--        </div>-->
<!--      </div>-->

    </div>

    <div class="container" style="background: white">
      <p style="font-size: 24px;font-family: 'Roboto', sans-serif; font-weight: 600">Music audio</p>
      <br>
      <div class="form-group">
        <p style="font-weight: 600;font-size: 15px;font-family: 'Roboto', sans-serif;">Choose the audio for your project</p>
        <input type="file" name="audio" class="form-control track-fields" id="audio">
        <%#= f.label(:audio, "Select audio", class: "crayons-field__label") %>
        <!--          input-->
        <%#= input "audio", class: "form-control", required: true, style: "display: block; margin-top: 5px" %>
        <% if @single.audios.present? %>
          <p style="font-size: 24px;font-family: 'Roboto', sans-serif; font-weight: 600">Audio details</p>
          <table class="crayons-table" width="100%">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Link</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody class="crayons-card">
            <%# @applications.each do |application| %>
            <tr>
              <td><%= @single.audios.first.try(:id) %></td>
              <td><a href="<%= @single.audios.first.try(:link) %>"><%= @single.audios.first.try(:link) %></a></td>
              <td>
                <% if @single.audios.first.try(:status).present? %>
                  <span class ='badge badge-success'>Approved</span>
                <% else %>
                  <span class ='badge badge-warning'>Pending</span>
                <% end %>
              </td>
              <!--            <td><%#= application.try(:status).present? ? "<span class ='badge badge-success'>Approved</span>".html_safe : "<span class ='badge badge-danger'>Pending</span>".html_safe %></td>-->
            </tr>
            <%# end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <p style="font-family: 'Roboto', sans-serif;font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          color: #08090A;
          flex: none;
          order: 0;
          flex-grow: 0;">About this release </p>
      </div>
      <div class="row">
        <!--        <p class="color-gray">Tell your fans about you, and the collaborations you are available for. Access different kinds of projects, from concert music and jazz to dance and video games</p>-->
      </div>
      <!--      <br>-->
      <div class="row">
        <p class="required-text">Starred fields are required</p>
        <br>
        <!--        <p class="deejaying-text">Deejaying Music Production</p>-->
        <!--        <br>-->
        <!--        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Composer and Performers*</p>-->
        <!--        <p class="color-gray">Select type of ensemble or instrumentation*</p>-->
        <!--        <div class="form-group">-->
        <%#= f.select(:composer_id, options_for_select(@composers, f.object.composer_id), {}, { class: "crayons-select" }) %>
        <!--        </div>-->
      </div>

      <div class="row">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Tell your fans about this project*</p>
        <p class="color-gray">Tell your fans a few things about this project and the services you are offering.</p>
        <div class="form-group">
          <%= f.text_area :summary, class: "form-control organization-fields", required: true, row: 5 %>
        </div>
      </div>
      <br>

      <div class="row">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Awards and Nominations_1</p>
        <p class="color-gray">In one line tell your fans about your greates awards and nominatons</p>
        <div class="form-group">
          <%= f.text_field :tag_line, class: "form-control organization-fields" %>
        </div>
      </div>
      <br>

      <div class="row">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Awards and Nominations_2</p>
        <p class="color-gray">In one line what’s your greatest achievement in your music career</p>
        <div class="form-group">
          <%= f.text_field :tech_stack, class: "form-control organization-fields" %>
        </div>
      </div>

      <div class="row">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Song Language*</p>
        <p class="color-gray">Select the languages you perform. You can choose up to four. If you want more shoot us a mail.</p>
        <div class="form-group">
          <%= f.select(:song_language_id, options_for_select(@languages, f.object.song_language_id), {}, { class: "crayons-select", required: true }) %>
        </div>
      </div>
      <br>

      <div class="row">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Select Genre</p>
        <p class="color-gray">You can select up to four genres*</p>
        <div class="form-group">
          <%= f.select(:genre_id, options_for_select(@genres, f.object.genre_id.try(:split, ',')), {}, { class: "crayons-select", multiple: true }) %>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <p style="    font-family: 'Roboto', sans-serif;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 154.69%;
        letter-spacing: 0.01em;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 0px;">Note: you are not automatically enrolled on UnitedBits marketplace. If you meet the eligibility requirements, a talent representative will contact you within a few days to finish onboarding.</p>
      <div class="form-group">
        <% btn_text = f.object.id.present? ? "Update your online business" : "Create your online business" %>
        <%= f.submit btn_text, class: "crayons-btn application-submit-btn organization-submit-btn", id: 'submit-btn' %>
        <p style="color: darkred; display: none" id="img-msg">Image is being uploaded</p>
        <p style="color: darkred; display: none" id="audio-msg">Audio upload may take some more time, please wait</p>
      </div>
    </div>
  </div>
 <% end %>
</div>
<script>
  setTimeout(function (){
    try{
      document.multiselect('#organization_genre_id');
      $(document).on('change', '#audio', function (e){
        $('#audio-msg').show();
      })
      $(document).on('change',"#single-header-img",function (e){
        var submitBtn = document.getElementById('submit-btn')
        var imageMsg = document.getElementById('img-msg')
        submitBtn.setAttribute('disabled', true)
        imageMsg.style.display = 'block'
        var imageForm = new FormData();
        imageForm.append('image', e.target.files[0]);
        $.ajax({
          url: '<%= image_uploads_path %>',
          data: imageForm,
          type: 'POST',
          processData: false, // important
          contentType: false, // important
          dataType : 'json',
          success:function(data){
            submitBtn.disabled = false;
            imageMsg.style.display = 'none'
            if(data && data.links && data.links.length > 0 && data.links[0].includes('amazon')){
              $("#single-img-error").hide();
              $("#single-header-img-url").val(data.links[0]);
            }else{
              $("#single-img-error").text('Cloudinary upload error').show();
              $("#single-header-img-url").val('');
            }
          },
          error:function (err){
            submitBtn.disabled = false;
            imageMsg.style.display = 'none'
            $("#single-img-error").text('Unsupported image type').show();
            $("#single-header-img-url").val('');
          }
        });
      })
      $(document).on('keyup','.royalties-percentage', function(){
        var total = 0;
        $('.royalties-percentage').each(function(royalty, value){
          total = total + (parseFloat(value.value) || 0);
        })
        if(total > 100){
          $('#royalty-error').show();
          $(this).val('')
        }else{
          $('#royalty-error').hide();
        }
        calculateTotalRoyalties();
      })
      calculateTotalRoyalties();
    }catch(err){
      location.reload();
    }
  },200)
  var artists = "<%= @artists %>"
  artists = JSON.parse(artists.replaceAll('&quot;', '"'))
  function previewFile(input) {
    var file = event.target.files[0];
    if (file) {
      var reader = new FileReader();
      reader.onload = function () {
        document.getElementById(input.dataset.img_id).src =  reader.result;
      }
      reader.readAsDataURL(file);
      document.getElementById(input.dataset.img_id).classList.remove("display-none")
      document.getElementById(input.dataset.rmv_btn_id).classList.remove("display-none")
      document.getElementById(input.dataset.label_id).text = "Change";
    }
  }

  function removeFile(input) {
    document.getElementById(input.dataset.img_id).classList.add("display-none")
    document.getElementById(input.dataset.rmv_btn_id).classList.add("display-none")
    document.getElementById(input.dataset.label_id).text = "Upload Image";
    document.getElementById(input.dataset.file_field).value = "";
  }

  function addItem(){
    var contributorsDiv = document.getElementById('contributors-div')
    contributorsDiv.insertAdjacentHTML('beforeend', makeAddContributor(contributorsDiv));
  }

  function makeAddContributor(contributorsDiv){
    var artistSelect = '<select name="organization_memberships[][collaborator_id]" class="form-control track-fields contributors-select" onchange="onContributorChange(this)" style="padding: 7px !important;" required>';
    artistSelect += '<option value="">Select Contributor</option>';
    for(var i=0; i < artists.length; i++){
      artistSelect += '<option value="' + artists[i]['id'] + '">' + artists[i]['name'] + '</option>';
    }
    // artistSelect += '<option value="0">Customers</option>';
    artistSelect +='</select>';
    var contributor =
      '<div id="'+(contributorsDiv.childElementCount)+'-contributor-div">' +
      '<div style="padding: 0px;" class="contributor-div">\n' +
      '          <div class="form-group" style="width: 47%; display: inline-block">\n' +
      '            <p class="track-labels">Crew member</p>\n' + artistSelect +
      '            \n' +
      '          </div>\n' +
      '          <div class="form-group" style="width: 47%; display: inline-block">\n' +
      '            <p class="track-labels">Royalties in percentage</p>\n' +
        '            <input type="text" name="organization_memberships[][royalty]" class="form-control track-fields royalties-percentage" placeholder="Set royalties" required>\n' +
      '          </div>\n' +
      '          <i class="fa fa-times-circle" style="cursor: pointer" id="'+contributorsDiv.childElementCount+'-closeContributor" onclick="closeContributors('+contributorsDiv.childElementCount+')"></i>\n' +
      '        </div>' +
      '</div>'
    return contributor;
  }

  // $('#submit-btn').click(function (e){
  //   e.preventDefault();
  //   var percentage = 0;
  //   $('.royalties-percentage').each(function(index, royality){
  //     if(royality.value){
  //       percentage = percentage + parseFloat(ss.value)
  //     }
  //   })
  //   var copies = parseInt($('#customer-copies').val()) || 0;
  //   var royalties = parseFloat($('#customer-royalties').val()) || 0;
  //   var customerRoyalties =
  //   if($('#audio').val() != ''){
  //     $('#audio-msg').show();
  //   }
  // })

  function onContributorChange(contributorSelect){
    var selected_val = contributorSelect.value;
    var list= document.getElementsByClassName("contributors-select");
    var count = 0;
    for (var i = 0; i < list.length; i++) {
      if(list[i].value == selected_val){
        count = count + 1;
      }
    }
    if(count>1){
      contributorSelect.value = ''
      alert('try to avoid selecting duplicates');
    }
  }

  function closeContributors(contributorId){
    document.getElementById(contributorId+'-contributor-div').remove();
  }

  function calculateTotalRoyalties(){
    var total = 0;
    $('.royalties-percentage').each(function(royalty, value){
      total = total + (parseFloat(value.value) || 0);
    })
    $('#royalties-total').val(total);
  }

  function copyToClipboard(){
    var secret = $('#settings-org-secret').val();
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val(secret).select();
    document.execCommand("copy");
    $temp.remove();
    $('#copy-text-announcer').show();
  }
</script>
