
<!--    <header class="flex items-center p-2 m:p-0 m:pb-2" id="on-page-nav-controls">-->
<!--      <div class="flex-1 flex items-center justify-between">-->
<!--        <h2 class="wallet-heading">WALLET ANALYTICS</h2>-->
<!--      </div>-->
<!--    </header>-->
    <!--    <h3 class="wallet-heading">WALLET ANALYTICS</h3>-->
<style>
  th{
    border-radius: 0px !important;
  }
  td{
    border-radius: 0px !important;
  }
</style>
    <div class="row">
      <h2 style="margin-bottom: 10px">Dashboard</h2>
      <p id="dashboard-description" style="font-weight: 500; margin-bottom: 10px">This is your dashboard to structure your collaborations, monitor your projects, and manage your money</p>
      <div class="crayons-card p-6" style="background: #fed853 !important; margin-bottom: 24px">
        <h3>Accounting and Banking</h3>
        <p style="font-weight: 500; margin-top: 5px !important;">Connect your bank account to receive payouts</p>
        <p style="font-weight: 500;">Unitedbits partners with Stripe for fast, secure payments. Fill out a few details so you can start getting paid</p>
        <% if @payment_provider.present?  && @payment_provider.try(:external_id).present? %>
          <label class="crayons-field__label">Account id</label>
          <input class="crayons-textfield" style="background: #00000017" type="text" value="<%= @payment_provider.external_id %>" disabled>
          <br><br>
          <label class="crayons-field__label">Secret token</label>
          <input class="crayons-textfield" style="background: #00000017" type="text" value="<%= @payment_provider.access_token %>" disabled>
          <br><br>
          <label class="crayons-field__label">Refresh token</label>
          <input class="crayons-textfield" style="background: #00000017" type="text" value="<%= @payment_provider.refresh_token %>" disabled>
          <br><br>
          <% if @payment_provider.try(:dashboard_link) %>
            <a href="<%= @payment_provider.dashboard_link %>"><button class="crayons-btn" style="width: 100%; background: #454545 !important">Visit Dashboard</button></a>
          <% else %>
            <a href="#"><button class="crayons-btn" style="width: 100%">Can't generate link</button></a>
          <% end %>
        <% else %>
          <a href="<%= new_user_document_path(user_id: current_user.id) %>" target="_top">
            <button class="crayons-btn hidden mr-2 whitespace-nowrap s:block  " style="background: #454545 !important; margin-top: 20px">
              Attach your bank
            </button>
          </a>
          <!--    <div>Please enter banking information from mail</div>-->
        <% end %>
      </div>
      <div class="crayons-card crayons-card--content-rows" style="background: #fed853 !important">
        <h3>Join a Project</h3>
        <%= form_tag "/users/join_artist_org" do %>
          <div class="crayons-field mb-6">
            <%= label_tag :org_secret, "Secret code", class: "crayons-field__label" %>
            <p class="crayons-field__description">Provided to you by project admin</p>
            <%= text_field_tag :org_secret, nil, placeholder: "...", class: "crayons-textfield", autocomplete: "off" %>
            <input type="hidden" name="from_artist" value="true">
          </div>

          <button class="crayons-btn" type="submit" style="background: #454545 !important">Join Project</button>
        <% end %>
      </div>
    </div>
    <% if @orgs.present? %>
      <% @orgs.each do |org| %>
       <% music_release = org.music_releases.first %>
       <% total_count = music_release.orders.count(:id) %>
        <div class="row">
          <div style="background: #373737 !important; padding: 10px;">
            <div class="project-img-header" style="display: inline-block">
              <%= image_tag music_release.header_image_url.present? ? music_release.header_image_url : 'https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png', width: 100, height: 100 %>
            </div>
            <div style="display: inline-block">
              <h2 style="bottom: 20px; position: relative; left: 20px; color: white">
                 <%= music_release.title  %>
              </h2>
              <p>
                <span class="badge badge-success" style="bottom: 20px; position: relative; left: 20px"> Approved </span>
              </p>
            </div>
          </div>
          <div class="video-collection" style="background: #373737 !important; border-radius: 0px !important;">
            <div class="card-body bg-warning single-video-box box-badge">
              <div class="rotate">
                <i class="fa fa-calendar-check-o fa-2x"></i>
              </div>
              Release Date
              <p style="color: white;margin-left: 5%;"><%= music_release.created_at.strftime('%Y %B') %></p>
            </div>
            <div class="card-body bg-warning single-video-box box-badge" style="background: #1cac4a !important;">
              <div class="rotate">
                <i class="fa fa-clock-o fa-2x"></i>
              </div>
              Pre release Date
              <p style="color: white;margin-left: 5%;"><%= music_release.created_at.strftime('%Y %B') %></p>
            </div>
            <div class="card-body bg-warning single-video-box box-badge" style="background: #db1099 !important;">
              <div class="rotate">
                <i class="fa fa-money fa-2x"></i>
              </div>
              Price
              <p style="color: white;margin-left: 5%;">$<%= number_with_precision(music_release.price, precision: 2) %></p>
            </div>
            <div class="card-body bg-warning single-video-box box-badge" style="background: #ff521a !important">
              <div class="rotate">
                <i class="fa fa-calculator fa-2x"></i>
              </div>
              No. of Sales
              <p style="color: white;margin-left: 5%;"><%= total_count %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="crayons-story__body pd-b-0 p-l-r-0" style="background: #373737 !important; backdrop-filter: blur(9px); padding: 20px">
            <div class="crayons-story__top m-b-0">
              <!--          <p class="artist-name"> | </p>-->
              <p class="artist-name" style="color: white; padding-left: 10px"><%= org.try(:name) %> | <%= music_release.try(:title) %></p>
            </div>
            <div class="reviews-reactions">
              <p class="project-date" style="padding-left: 10px; color: white">Release date <%= music_release.created_at.strftime('%Y %B') %> | <%= music_release.copies.to_i %> LIMITED EDITION MP3</p>
            </div>
          </div>
        </div>
        <% total_amount = music_release.orders.sum(:total_amount) %>
        <div class="table-responsive" style="margin-bottom: 20px">
<!--          <h2><%#= org.name %></h2>-->
          <table class="crayons-table" style="width: 100%">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Title</th>
              <th scope="col">Crew Members</th>
              <th>Role</th>
<!--              <th scope="col">Released</th>-->
              <th scope="col">Royalties</th>
              <th scope="col">Balance</th>
<!--              <th scope="col">Price</th>-->
<!--              <th scope="col">Duration</th>-->
<!--              <th scope="col">Status</th>-->
            </tr>
            </thead>
            <tbody class="mfy-body">
            <% total = 0 %>
            <% org.organization_memberships.each_with_index do |contribution, index| %>
                <% if index == 0 %>
                  <tr class="mfy-tr">
                    <td><%= image_tag music_release.header_image_url.present? ? music_release.header_image_url : 'https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png', width: 50, height: 50 %>
                    </td>
                    <td><%= music_release.title.capitalize %></td>
                    <td style="color: #00e4ff !important;">
                      United Bits
                    </td>
                    <td>
                      Platform
                    </td>
<!--                    <td>-->
                      <%#= music_release.created_at.strftime('%Y %B') %>
<!--                    </td>-->
                    <td>20.00 %</td>
                    <!--                  <td>US$ <%#= number_with_precision(music_release.try(:price), precision: 2) %></td>-->
<!--                    <td>-->
                      <%# length = Time.at(music_release.length).utc.strftime("%M:%S").split(":") %>
                      <%# if music_release.length < 60 %>
<!--                        <%#= length[1] %> secs-->
                      <%# else %>
<!--                        <%#= length[0]  %> mins <%#= length[1] %> secs-->
                      <%# end %>
                      <%# else %>
                      <!--            <span class="time-span">Price for <%#= length[0]  %> mins <%#= length[1] %> secs set</span>-->
                      <%# end %>
<!--                    </td>-->
<!--                    <td>-->
<!--                      <span class="badge badge-success">-->
<!--                        Completed-->
<!--                      </span>-->
<!--                    </td>-->
                    <td>
                      $<%= number_with_precision(((20) * total_amount)/100, precision: 2) %>
                    </td>
                  </tr>
                <% end %>
                <% total = total + contribution.royalty.to_f %>
                <tr class="mfy-tr">
                  <td><%= image_tag music_release.header_image_url.present? ? music_release.header_image_url : 'https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png', width: 50, height: 50 %>
                  </td>
                  <td><%= music_release.title.capitalize %></td>
                  <td style="color: #00e4ff !important;">
                    <%=  contribution.collaborator.username %>
                  </td>
                  <td>
                    <% if contribution.collaborator.id == org.artist.id %>
                      Admin
                    <% else %>
                      Contributor
                    <% end %>
                  </td>
<!--                  <td>-->
                    <%#= music_release.created_at.strftime('%Y %B') %>
<!--                  </td>-->
                  <td><%= number_with_precision(contribution.royalty, precision: 2)  %> %</td>
<!--                  <td>US$ <%#= number_with_precision(music_release.try(:price), precision: 2) %></td>-->
<!--                  <td>-->
                    <%# length = Time.at(music_release.length).utc.strftime("%M:%S").split(":") %>
                    <%# if music_release.length < 60 %>
<!--                      <%#= length[1] %> secs-->
                    <%# else %>
<!--                      <%#= length[0]  %> mins <%#= length[1] %> secs-->
                    <%# end %>
                    <%# else %>
                    <!--            <span class="time-span">Price for <%#= length[0]  %> mins <%#= length[1] %> secs set</span>-->
                    <%# end %>
<!--                  </td>-->
<!--                  <td>-->
<!--                  <span class="badge badge-success">-->
<!--                    Completed-->
<!--                  </span>-->
<!--                  </td>-->
                  <td>
                    $<%= number_with_precision(((contribution.royalty.to_f) * total_amount)/100, precision: 2) %>
                  </td>
                </tr>
            <% end %>
            <tr class="total-row">
              <td style="text-align: center">
<!--                <strong>-->
<!--                  Sales Amount-->
<!--                </strong>-->
              </td>
              <td>
<!--                <strong style="margin-left: 3%">-->
<!--                  $<%#= number_with_precision(total_amount, precision: 2) %>-->
<!--                </strong>-->
              </td>
              <td>
              </td>
              <td></td>
              <td>
                <strong style="margin-left: 3%">
                  <%= number_with_precision((total + 20), precision: 2) + " %" %>
                </strong>
              </td>
              <td>
                <strong style="margin-left: 3%">
                  $<%= number_with_precision(((total + 20) * total_amount)/100, precision: 2) %>
                </strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
       <% end %>
      <% end %>
<style>
  body{
    background: #1c1c1c !important;
  }
  .mfy-body{
    background: #373737 !important;
    color: white;
  }
  .mfy-body{
    background: #373737 !important;
    color: white;
  }
  .mfy-tr{
    background: #373737 !important;
    color: white;
  }
  .mfy-body .mfy-tr:hover{
    background: #373737 !important;
    color: black;
  }
  .badge {
    display: inline-block !important;
    padding: .25em .4em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25rem !important;
  }
  .badge-success {
    color: #fff;
    background-color: #28a745;
  }
  .badge-warning {
    color: #212529;
    background-color: #ffc107;
  }
  .badge-danger {
    color: #fff;
    background-color: #dc3545;
  }
  .table-responsive {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
  }
  table th{
    color: white !important;
    background: #242424 !important;
  }
  .wallet-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    /*margin-bottom: 20px;*/
  }
  .wallet-div{
    background: #0d0d0d;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: linear-gradient(177.01deg, #524F4F 2.37%, #0E1218 97.42%);
    backdrop-filter: blur(9px);
  }
  .sidebar-navigation-links .crayons-link {
    color: #DDE0E2 !important;
  }
  .flex-1{
    color: #DDE0E2 !important;
  }
</style>
