
<!--    <header class="flex items-center p-2 m:p-0 m:pb-2" id="on-page-nav-controls">-->
<!--      <div class="flex-1 flex items-center justify-between">-->
<!--        <h2 class="wallet-heading">WALLET ANALYTICS</h2>-->
<!--      </div>-->
<!--    </header>-->
    <!--    <h3 class="wallet-heading">WALLET ANALYTICS</h3>-->
<style>
  th{
    border-radius: 0px !important;
  }
  td{
    border-radius: 0px !important;
  }
</style>
    <% if @orgs.present? %>
      <% @orgs.each do |org| %>
        <% music_release = org.music_releases.first %>
        <% total_amount = music_release.orders.sum(:total_amount) %>
        <div class="table-responsive" style="margin-bottom: 20px">
<!--          <h2><%#= org.name %></h2>-->
          <div class="crayons-story__body pd-b-0 p-l-r-0" style="background: #373737 !important; backdrop-filter: blur(9px); padding: 20px">
            <div class="crayons-story__top m-b-0">
              <!--          <p class="artist-name"> | </p>-->
              <p class="artist-name"><%= org.try(:name) %> | <%= music_release.try(:title) %></p>
            </div>
            <div class="reviews-reactions">
              <p class="project-date" style="padding-left: 10px">Release date <%= music_release.created_at.strftime('%Y %B') %> | <%= music_release.copies.to_i %> LIMITED EDITION MP3</p>
            </div>
          </div>
          <table class="crayons-table" style="width: 100%">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Title</th>
              <th scope="col">Crew Members</th>
<!--              <th scope="col">Released</th>-->
              <th scope="col">Royalties</th>
              <th scope="col">Balance</th>
<!--              <th scope="col">Price</th>-->
<!--              <th scope="col">Duration</th>-->
<!--              <th scope="col">Status</th>-->
            </tr>
            </thead>
            <tbody class="mfy-body">
            <% total = 0 %>
            <% org.organization_memberships.each_with_index do |contribution, index| %>
                <% if index == 0 %>
                  <tr class="mfy-tr">
                    <td><%= image_tag music_release.header_image_url.present? ? music_release.header_image_url : 'https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png', width: 50, height: 50 %>
                    </td>
                    <td><%= music_release.title.capitalize %></td>
                    <td style="color: #00e4ff !important;">
                      United Bits
                    </td>
<!--                    <td>-->
                      <%#= music_release.created_at.strftime('%Y %B') %>
<!--                    </td>-->
                    <td>20.00 %</td>
                    <!--                  <td>US$ <%#= number_with_precision(music_release.try(:price), precision: 2) %></td>-->
<!--                    <td>-->
                      <%# length = Time.at(music_release.length).utc.strftime("%M:%S").split(":") %>
                      <%# if music_release.length < 60 %>
<!--                        <%#= length[1] %> secs-->
                      <%# else %>
<!--                        <%#= length[0]  %> mins <%#= length[1] %> secs-->
                      <%# end %>
                      <%# else %>
                      <!--            <span class="time-span">Price for <%#= length[0]  %> mins <%#= length[1] %> secs set</span>-->
                      <%# end %>
<!--                    </td>-->
<!--                    <td>-->
<!--                      <span class="badge badge-success">-->
<!--                        Completed-->
<!--                      </span>-->
<!--                    </td>-->
                    <td>
                      $<%= number_with_precision(((20) * total_amount)/100, precision: 2) %>
                    </td>
                  </tr>
                <% end %>
                <% total = total + contribution.royalty.to_f %>
                <tr class="mfy-tr">
                  <td><%= image_tag music_release.header_image_url.present? ? music_release.header_image_url : 'https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png', width: 50, height: 50 %>
                  </td>
                  <td><%= music_release.title.capitalize %></td>
                  <td style="color: #00e4ff !important;">
                    <%=  contribution.collaborator.username %>
                  </td>
<!--                  <td>-->
                    <%#= music_release.created_at.strftime('%Y %B') %>
<!--                  </td>-->
                  <td><%= number_with_precision(contribution.royalty, precision: 2)  %> %</td>
<!--                  <td>US$ <%#= number_with_precision(music_release.try(:price), precision: 2) %></td>-->
<!--                  <td>-->
                    <%# length = Time.at(music_release.length).utc.strftime("%M:%S").split(":") %>
                    <%# if music_release.length < 60 %>
<!--                      <%#= length[1] %> secs-->
                    <%# else %>
<!--                      <%#= length[0]  %> mins <%#= length[1] %> secs-->
                    <%# end %>
                    <%# else %>
                    <!--            <span class="time-span">Price for <%#= length[0]  %> mins <%#= length[1] %> secs set</span>-->
                    <%# end %>
<!--                  </td>-->
<!--                  <td>-->
<!--                  <span class="badge badge-success">-->
<!--                    Completed-->
<!--                  </span>-->
<!--                  </td>-->
                  <td>
                    $<%= number_with_precision(((contribution.royalty.to_f) * total_amount)/100, precision: 2) %>
                  </td>
                </tr>
            <% end %>
            <tr class="total-row">
              <td style="text-align: center">
<!--                <strong>-->
<!--                  Sales Amount-->
<!--                </strong>-->
              </td>
              <td>
<!--                <strong style="margin-left: 3%">-->
<!--                  $<%#= number_with_precision(total_amount, precision: 2) %>-->
<!--                </strong>-->
              </td>
              <td>
              </td>
              <td>
                <strong style="margin-left: 3%">
                  <%= number_with_precision((total + 20), precision: 2) + " %" %>
                </strong>
              </td>
              <td>
                <strong style="margin-left: 3%">
                  $<%= number_with_precision(((total + 20) * total_amount)/100, precision: 2) %>
                </strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
       <% end %>
      <% end %>
<style>
  body{
    background: #1c1c1c !important;
  }
  .mfy-body{
    background: #373737 !important;
    color: white;
  }
  .mfy-body{
    background: #373737 !important;
    color: white;
  }
  .mfy-tr{
    background: #373737 !important;
    color: white;
  }
  .mfy-body .mfy-tr:hover{
    background: #373737 !important;
    color: black;
  }
  .badge {
    display: inline-block !important;
    padding: .25em .4em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25rem !important;
  }
  .badge-success {
    color: #fff;
    background-color: #28a745;
  }
  .badge-warning {
    color: #212529;
    background-color: #ffc107;
  }
  .badge-danger {
    color: #fff;
    background-color: #dc3545;
  }
  .table-responsive {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
  }
  table th{
    color: white !important;
    background: #242424 !important;
  }
  .wallet-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    /*margin-bottom: 20px;*/
  }
  .wallet-div{
    background: #0d0d0d;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: linear-gradient(177.01deg, #524F4F 2.37%, #0E1218 97.42%);
    backdrop-filter: blur(9px);
  }
  .sidebar-navigation-links .crayons-link {
    color: #DDE0E2 !important;
  }
  .flex-1{
    color: #DDE0E2 !important;
  }
</style>
