<style>
  /*.crayons-story__cover {*/
  /*  border-radius: 0px !important;*/
  /*}*/
  .br-0{
    border-radius: 0px !important;
    /*background: black !important;*/
  }
  .mb-5{
    margin-bottom: 5px !important;
  }
  .pr-bg-img{
    height: 130px;
    width: 130px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .pr-main-card{
    /*grid-template-columns: 1fr 1fr !important;*/
    grid-template-columns: 130px 1fr !important;
    padding: 0px !important;
  }
  .pr-play-icon{
    width: 52px;
    height: 52px;
  }
  @media only screen and (max-width: 600px) {
    .pr-main-card{
      grid-template-columns: 98px 1fr !important;
      padding: 0px !important;
    }
    .pr-bg-img{
      height: 93px;
      width: 93px;
    }
    .pr-play-icon{
      width: 32px;
      height: 32px;
    }
  }
</style>
<!-- Project Card Section -->
<article class="crayons-story cursor-pointer crayons-story--featured project-card mb-10 br-0 pd-22" style="background: #ffffff">
  <% if music_release.present? %>
    <% if music_release.audios.published.present? %>
      <% audio = music_release.audios.published.first %>
      <div id="record-<%= audio.id.to_s %>" class="record-wrapper" data-podcast="<%= audio.slug %>" data-episode="<%= audio.id.to_s %>" style="display: none">
        <div class="record" id="record">
          <%= optimized_image_tag('/assets/playbutt.png',
                                  optimizer_options: { width: 420, height: 420, crop: "fill" },
                                  image_options: { class: "main-image", id: "main-image-#{audio.id.to_s}", alt: 'test' }) %>
          <img alt="Play Button" id="hidden-play-<%= audio.id %>" class="butt play-butt" src="<%= image_path("playbutt.png") %>" />
          <img alt="Pause Button" id="hidden-pause-<%= audio.id %>" class="butt pause-butt" src="<%= image_path("pausebutt.png") %>" />
          <div class="status-message" id="status-message-<%= audio.id.to_s %>">
            play
          </div>
        </div>
      </div>
      <% image = 'https://res.cloudinary.com/dyzicyjzq/image/fetch/s--YlfUcTgh--/c_fill,f_auto,fl_progressive,h_420,q_auto,w_420/https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png' %>
      <% if music_release.try(:header_image_url).present?  %>
        <% image = music_release.try(:header_image_url) %>
      <% end %>
      <%= render partial: "podcast_episodes/audio_podcast_bar", locals: {audio: audio, slug: audio.slug, image: image} %>
    <% end %>
    <% length = Time.at(music_release.length).utc.strftime("%M:%S").split(":") %>
    <a href="#" class="crayons-story__hidden-navigation-link">
      <%= music_release.try(:title) %>
    </a>
    <div class="crayons-layout pr-main-card">
      <div role="presentation">
<!--        <a href='<%#= artist_side.present? ? "/organizations/project_edit/#{project.id}" : "/organizations/project_show/#{project.id}" %>' class="crayons-story__cover br-0 pr-bg-img" title="testtttt" style="background-image: url('<%#= music_release.header_image_url.present? ? Images::Optimizer.call(music_release.header_image_url, width: 130, height: 130, crop: "fill") : 'https://res.cloudinary.com/dyzicyjzq/image/fetch/c_fill,h_130,w_130/https://studioappbucket.s3.amazonaws.com/i/76nnuqytglg0xahb1k1b.jpg' %>');">-->
          <%# if music_release.audios.published.present? && !project_side %>
<!--              <img alt="test" onclick="play_music(<%#= audio.id %>)" class="pr-play-icon" src="/assets/playbutt.png">-->
          <%# end %>
<!--        </a>-->
        <div class="crayons-story__cover br-0 pr-bg-img" title="testtttt" style="background-image: url('<%= music_release.header_image_url.present? ? Images::Optimizer.call(music_release.header_image_url, width: 130, height: 130, crop: "fill") : 'https://res.cloudinary.com/dyzicyjzq/image/fetch/c_fill,h_130,w_130/https://studioappbucket.s3.amazonaws.com/i/76nnuqytglg0xahb1k1b.jpg' %>');">
          <% if music_release.audios.published.present? && !project_side %>
              <img alt="test" onclick="play_music(<%= audio.id %>)" class="pr-play-icon" src="/assets/playbutt.png">
          <% end %>
        </div>
        <div class="crayons-story__body pd-b-0 p-l-r-0" style="padding-top: 0px">
          <div class="crayons-story__top m-b-0">
          </div>
        </div>
      </div>
      <% length = Time.at(music_release.length).utc.strftime("%M:%S").split(":") %>
      <% if music_release.length < 60 %>
        <% duration = "#{length[0]}" %>
      <% else %>
        <% duration = "#{length[0]}:#{length[1]}" %>
      <% end %>
      <% release_date = '' %>
      <% if project.try(:release_date).present? %>
        <% release_date = project.try(:release_date).strftime('%Y %m') %>
      <% end %>
      <% type = project.try(:org_type).present? && project.try(:org_type) == 'uncut' ? 'RAW N UNCUT' : 'NEW RELEASE'  %>
      <div class="project-presentation-text">
        <span class="pr-title-text-new"><%= music_release.try(:title).capitalize %></span>
        <span class="pr-price-text-new">¢<%= number_with_precision(music_release.try(:price), precision: 2) %></span>
        <p class="pr-desc-text-new"><%= project.try(:name) %></p>
        <!--        <p class="pr-desc-text"><%#= music_release.try(:description) %></p>-->
        <!--        <p class="pr-below-text">-->
        <!--          <%#= type %> | <%#= duration %> |  <%#= release_date %>-->
        <!--        </p>-->
        <!--        <p class="pr-price-text">¢<%#= number_with_precision(music_release.try(:price), precision: 2) %></p>-->
      </div>
    </div>
  <% else %>
    <div class="alert alert-danger">No product found against this project</div>
  <% end %>
</article>
<div style="background: white; padding: 10px; display: none" class="margin-bottom-30">
  <!-- crayons-layout--3-cols crayons-layout--3-cols--drop-right-left -->
  <div class="crayons-story__bottom" style="padding-right: 2px">
    <div>
      <img src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/comment.png" alt="">
      <p class="pr-bottom-bar-text"> Comment</p>
    </div>
    <div>
      <img height="33" width="33" src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/playlist.png" alt="">
      <p class="pr-bottom-bar-text"> Playlist</p>
    </div>
    <div>
      <img src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/add-friend.png" alt="">
      <p class="pr-bottom-bar-text"> Follow</p>
    </div>
  </div>
  <div style="display: none" class="crayons-layout crayons-layout--3-cols crayons-layout--3-cols--drop-right-left pr-bottom-bar">
    <div>
      <img src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/comment.png" alt="">
      <span class="pr-bottom-bar-text"> Comment</span>
    </div>
    <div>
      <img height="33" width="33" src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/playlist.png" alt="">
      <span class="pr-bottom-bar-text"> Playlist</span>
    </div>
    <div>
      <img src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/add-friend.png" alt="">
      <span class="pr-bottom-bar-text"> Follow</span>
    </div>
    <!--    <div style="text-align: right">-->
    <!--      <img height="33" src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/badge-bar.png" alt="">-->
    <!--      <span class="pr-bottom-bar-text"> Comment</span>-->
    <!--    </div>-->
  </div>
</div>
<div id="mockup-audios" class="mockup-audios" style="display: none">
  <div id="audiocontentt" data-podcast="">
    <audio id="audiot" data-episode="46" data-podcast="m-test-slug46">
      <source src="https://studioappbucket.s3.amazonaws.com/audio/audio-upload.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <div id="progressBart" class="audio-player-display playing">
      <a href="/m-test-slug46/46">
        <img id="episode-profile-imaget" alt="fs" width="420" height="420" src="https://res.cloudinary.com/dyzicyjzq/image/fetch/s--xkdBzESk--/c_fill,f_auto,fl_progressive,h_420,q_auto,w_420/https://res.cloudinary.com/dyzicyjzq/image/fetch/s--YlfUcTgh--/c_fill%2Cf_auto%2Cfl_progressive%2Ch_420%2Cq_auto%2Cw_420/https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png">
        <img id="animated-barst" src="/assets/animated-bars.gif" alt="animated volume bars" class="">
      </a>
      <span id="barPlayPauset" class="">
      <img class="butt play-butt" alt="play" src="/assets/playbutt.png">
      <img class="butt pause-butt" alt="pause" src="/assets/pausebutt.png">
    </span>
      <span id="volumet">
      <span id="volumeindicatort" class="volume-icon-wrapper showing">
        <span id="volbutt"><img alt="volume" class="icon-img" height="16" width="16" src="/assets/volume"></span>
        <span class="range-wrapper">
          <input type="range" name="points" id="volumeslider" value="50" min="0" max="100" data-show-value="true">
        </span>
      </span>
      <span id="mutebuttt" class="volume-icon-wrapper hidden"><img alt="volume-mute" class="icon-img" height="16" width="16" src="/assets/volume"></span>
      <span class="speed" id="speed" data-speed="1">1x</span>
    </span>
      <span class="buffer-wrappert" id="bufferwrappert">
      <p style="color: black; text-align: left; margin-left: 10px; margin-top: 20px">No Audio Selected</p>
        <!--      <span id="buffer" style="width: 0%;"></span>-->
        <!--      <span id="progress" style="width: 0%;"></span>-->
        <!--      <span id="time">00:00 / 00:00</span>-->
      <span id="closebuttt" onclick="removeElementsByClass('mockup-audios')">×</span>
    </span>
    </div>
  </div>
</div>

<script>
  setTimeout(function (){
    if(document.getElementsByClassName('playing')[0].id == 'progressBar'){
    }else{
      document.getElementById('mockup-audios').style.display = 'block';
    }
  }, 2000)
  function removeElementsByClass(className){
    var elements = document.getElementsByClassName(className);
    while(elements.length > 0){
      elements[0].parentNode.removeChild(elements[0]);
    }
  }
  function play_music(audio_id){
    removeElementsByClass('mockup-audios')
    if(document.getElementById("closebutt")){
      document.getElementById("closebutt").click();
    }
    document.getElementById("record-"+audio_id).click();
    // document.getElementById("play-"+audio_id).style.display = 'none'
    // document.getElementById("pause-"+audio_id).style.display = 'inline-block'
  }

  // function addHidden(theForm, key, value) {
  //   // Create a hidden input element, and append it to the form:
  //   var input = document.createElement('input');
  //   input.type = 'hidden';
  //   input.name = key; // 'the key/name of the attribute/field that is sent to the server
  //   input.value = value;
  //   theForm.appendChild(input);
  // }
</script>
