<!-- Project Card Section -->
<article class="<%= project_side.present? ? 'crayons-story cursor-pointer crayons-story--featured project-card' : 'crayons-story cursor-pointer crayons-story--featured project-card margin-bottom-30' %>">
  <% if music_release.present? %>
    <% if music_release.audios.published.present? %>
      <% audio = music_release.audios.published.first %>
      <div id="record-<%= audio.id.to_s %>" class="record-wrapper" data-podcast="<%= audio.slug %>" data-episode="<%= audio.id.to_s %>" style="display: none">
        <div class="record" id="record">
          <%= optimized_image_tag('/assets/playbutt.png',
                                  optimizer_options: { width: 420, height: 420, crop: "fill" },
                                  image_options: { class: "main-image", id: "main-image-#{audio.id.to_s}", alt: 'test' }) %>
          <img alt="Play Button" id="hidden-play-<%= audio.id %>" class="butt play-butt" src="<%= image_path("playbutt.png") %>" />
          <img alt="Pause Button" id="hidden-pause-<%= audio.id %>" class="butt pause-butt" src="<%= image_path("pausebutt.png") %>" />
          <div class="status-message" id="status-message-<%= audio.id.to_s %>">
            play
          </div>
        </div>
      </div>
      <% image = 'https://res.cloudinary.com/dyzicyjzq/image/fetch/s--YlfUcTgh--/c_fill,f_auto,fl_progressive,h_420,q_auto,w_420/https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png' %>
      <% if music_release.try(:header_image_url).present?  %>
        <% image = music_release.try(:header_image_url) %>
      <% end %>
      <%= render partial: "podcast_episodes/audio_podcast_bar", locals: {audio: audio, slug: audio.slug, image: image} %>
    <% end %>
    <% length = Time.at(music_release.length).utc.strftime("%M:%S").split(":") %>
    <a href="#" class="crayons-story__hidden-navigation-link">
      <%= music_release.try(:title) %>
    </a>
    <div role="presentation" class="project-presentation">
      <a href='<%= artist_side.present? ? "/organizations/project_edit/#{project.id}" : "/organizations/project_show/#{project.id}" %>' class="crayons-story__cover" title="testtttt" style="height: 0 !important; padding-bottom: 100%;background-image: url('<%= music_release.header_image_url.present? ? Images::Optimizer.call(music_release.header_image_url, width: 650, height: 650, crop: "pad") : 'https://res.cloudinary.com/dyzicyjzq/image/fetch/s--Juz0aGHs--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://studioappbucket.s3.amazonaws.com/i/76nnuqytglg0xahb1k1b.jpg' %>');">
        <span class="hidden"><%= music_release.try(:title) %></span>
      </a>
      <div class="crayons-story__body pd-b-0 p-l-r-0">
        <div class="crayons-story__top m-b-0">
<!--          <p class="artist-name"><%#= project.try(:name) %> | <%#= composer %></p>-->
<!--          <p class="artist-name"><%#= project.try(:name) %> | <%#= music_release.try(:title) %></p>-->
        </div>
        <!--crayons-story__indention-->
        <!--crayons-story__title -->
        <div class="<%= project_side ? "project-card-content" : "project-card-content custom-body" %>">
          <% if !project_side %>
            <div class="crayons-story__details" style="margin-bottom: 10px"><a class="crayons-btn crayons-btn--ghost crayons-btn--s crayons-btn--icon-left" href="#"><svg class="crayons-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z"></path></svg><span title="Number of reactions">0<span class="hidden s:inline">&nbsp;reaction</span></span></a><a class="crayons-btn crayons-btn--ghost crayons-btn--s crayons-btn--icon-left" href="#" data-testid="add-a-comment"><svg class="crayons-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path></svg><span class="inline s:hidden">0</span><span class="hidden s:inline">Add comment</span></a></div>
            <div style="padding: 10px; border: 1px solid #272727;margin-bottom: 16px !important;padding-bottom: 0px !important;">
              <% if music_release.audios.published.present? && !project_side %>
                <div style="width: 20%; display: inline-block">
                  <img alt="test" onclick="play_music(<%= audio.id %>)" width="52" height="52" src="/assets/playbutt.png">
                </div>
                <div style="width: 70%; display: inline-block; position: relative; bottom: 8px">
                  <p class="artist-name"><%= project.try(:name) %> | <%= music_release.try(:title) %></p>
                  <p class="project-date" style="<%= project_side ? 'display: none' : '' %>">Release date <%= music_release.created_at.strftime('%Y %B') %> | <%= music_release.copies.to_i %></p>
                </div>
              <% elsif !project_side  %>
                <p class="artist-name"><%= project.try(:name) %> | <%= music_release.try(:title) %></p>
                <p class="project-date" style="<%= project_side ? 'display: none' : '' %>">Release date <%= music_release.created_at.strftime('%Y %B') %> | <%= music_release.copies.to_i %></p>
              <% end %>
            </div>
          <% else %>
            <p class="artist-name"><%= project.try(:name) %> | <%= music_release.try(:title) %></p>
            <p class="project-date" style="<%= project_side ? 'display: none' : '' %>">Release date <%= music_release.created_at.strftime('%Y %B') %> | <%= music_release.copies.to_i %></p>
          <% end %>
          <!--  LIMITED EDITION MP3 -->

          <p class="project-date" style="<%= !project_side ? 'display: none' : 'margin-bottom: 0px; display: inline-block' %>">Release date <%= music_release.created_at.strftime('%Y %B') %> | <%= music_release.copies.to_i %> LIMITED EDITION MP3</p>
          <!--          <div class="project-box" style="display: inline-block; width: 100%">-->
<!--            <h2 style="float:left;">-->
<!--              <a class="project-title" href="#">-->
<!--                <span>-->
                  <%#= music_release.try(:title) %>
<!--                </span>-->
<!--              </a>-->
<!--            </h2>-->
<!--            <button  class="project-save-btn">-->
<!--              SAVE-->
<!--            </button>-->
<!--          </div>-->
          <div class="<%= project_side.present? ? 'project-description-project' : 'project-description' %>">
            <%= music_release.try(:description) %>
          </div>
<!--          <div class="<%#= project_side.present? ? 'copies-project' : 'copies-project' %>"><%#= music_release.copies.to_i %> LIMITED EDITION MP3</div>-->
          <div class="<%= project_side.present? ? 'project-genres-and-awards-projects' : 'project-genres-and-awards' %>">
            <div class="genres" style="float:left;">
              <% if project.genre_id.present? %>
                <% project.genre_id.split(',').each do |genre| %>
                  <% if genre.present? %>
                    <span class="genre">
                    #<%= @genres[genre.to_i - 1][0] %>
                    </span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="project-awards" style="float:right;">
              <% if project.try(:tag_line).present? %>
                <div class="awards">
                  <span style="margin-right: 10px"><%= project.try(:tag_line) %></span>
                </div>
              <% end %>
              <% if project.try(:tech_stack).present? %>
                <div class="awards" style="margin-top: 5px">
                  <span><%= project.try(:tech_stack) %></span>
                </div>
              <% end %>
            </div>
          </div>

          <div class="reviews-reactions">
<!--            <span class="project-date"><%#= music_release.created_at.strftime('%Y') %> | 1 song | <%#= length[0]  %> mins <%#= length[1] %> secs</span>-->
<!--            <p class="project-date" style="<%#= project_side ? 'display: none' : '' %>">Release date <%#= music_release.created_at.strftime('%Y %B') %> | <%#= music_release.copies.to_i %></p> LIMITED EDITION MP3
            <span class="<%= project_side.present? ? 'fa fa-star reviews-project checked' : 'fa fa-star reviews checked' %>"></span>
            <span class="<%= project_side.present? ? 'fa fa-star reviews-project checked' : 'fa fa-star reviews checked' %>"></span>
            <span class="<%= project_side.present? ? 'fa fa-star reviews-project checked' : 'fa fa-star reviews checked' %>"></span>
            <span class="<%= project_side.present? ? 'fa fa-star reviews-project' : 'fa fa-star reviews' %>"></span>
            <span class="<%= project_side.present? ? 'fa fa-star reviews-project' : 'fa fa-star reviews' %>"></span>

            <span class="<%= project_side.present? ? 'reviews-text-project' : 'reviews-text' %>">10 reviews</span>
            <%#= image_tag 'badge.png', width: '24px', style: "float:right" %>
            <span class="<%= project_side.present? ? 'fa fa-bookmark-o bookmark-icon-project' : 'fa fa-bookmark-o bookmark-icon' %>"></span>
            <a class="<%= project_side.present? ? 'crayons-btn crayons-btn--ghost crayons-btn--s crayons-btn--icon-left reactions-icon-project' : 'crayons-btn crayons-btn--ghost crayons-btn--s crayons-btn--icon-left reactions-icon' %>" href="#">
              <svg class="crayons-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                </path>
              </svg>
              <span class="reactions-text" title="Number of reactions">
                        0
                        <span class="hidden s:inline">
                          &nbsp;reactions
                        </span>
                      </span>
            </a>
          </div>
        </div>
        <div style="<%= project_side ? 'height:10px; background: #ffffff' : 'display:none' %>"></div>
        <div class="<%= project_side ? 'project-card-content p-l-r-0 amt-bg' : 'project-card-content p-l-r-0 amt-bg btn-updated-style' %>" style="display: none">
          <div class="p-l-r-0 amt-data">
            <div style="display: inline-block;width: 40%; padding-top: 10px; padding-bottom: 10px">
              <p class="artist-name p-l-10 f-s-9">Price</p>
              <p class="white-large-text p-l-10">US$ <%= number_with_precision(music_release.try(:price), precision: 2) %></p>
            </div>
            <div style="display: inline-block;width: 36%; padding-top: 10px; padding-bottom: 10px">
              <p class="artist-name p-l-10 f-s-9">Royalities</p>
              <p class="white-large-text p-l-10">0.01%</p>
            </div>
            <div style="display: inline-block;width: 20%; padding-top: 10px; padding-bottom: 10px">
              <p class="artist-name p-l-10 f-s-9">Duration</p>
              <p class="white-large-text p-l-10 display-inline">30</p><p class="white-large-text desc-text display-inline m-l-5">YEARS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="crayons-story__bottom" style="padding: 0px !important;">

Z        <button class="price-btn project-font">-->
<!--          <span class="price-span">$ <%#= number_with_precision(music_release.price, precision: 2) %></span>-->
          <%# if music_release.music_release_type = 'single' %>
            <%# if music_release.length < 60 %>
<!--              <span class="time-span">Price for <%#= length[1] %> secs</span>-->
            <%# else %>
<!--              <span class="time-span">Price for <%#= length[0]  %> mins <%#= length[1] %> secs</span>-->
            <%# end %>
          <%# else %>
<!--            <span class="time-span">Price for <%#= length[0]  %> mins <%#= length[1] %> secs set</span>-->
          <%# end %>
<!--        </button>-->
        <button class="<%= project_side ? 'request-btn' : 'request-btn btn-updated-style custom-margins' %>" data-project_id="<%= music_release.id %>" onclick="buy_product(<%= music_release.id %>, <%= number_with_precision(music_release.try(:price), precision: 2) %>, '<%= music_release.title %>')" id="buy-music-btn-<%= project.id %>" style="width: 100%">
          <span class="request-text project-font">
<!--            Buy track | 0.01% Royalties— $<%#= number_with_precision(music_release.price, precision: 2) %>-->
<!--            Buy $<%#= number_with_precision(music_release.price, precision: 2) %> -->
<!--            <span class="request-span-text pinkish-text">BUY MP3 + Royalties</span>-->
            <span class="request-span-text pinkish-text">GET THIS TRACK</span>
          </span>
        </button>
      </div>
    </div>
  <% else %>
   <div class="alert alert-danger">No product found against this project</div>
  <% end %>
  </div>
  </div>
</article>



<script>
  function play_music(audio_id){
    if(document.getElementById("closebutt")){
      document.getElementById("closebutt").click();
    }
    document.getElementById("record-"+audio_id).click();
    // document.getElementById("play-"+audio_id).style.display = 'none'
    // document.getElementById("pause-"+audio_id).style.display = 'inline-block'
  }

  // function addHidden(theForm, key, value) {
  //   // Create a hidden input element, and append it to the form:
  //   var input = document.createElement('input');
  //   input.type = 'hidden';
  //   input.name = key; // 'the key/name of the attribute/field that is sent to the server
  //   input.value = value;
  //   theForm.appendChild(input);
  // }
</script>
