<style>
  /*.crayons-story__cover {*/
  /*  border-radius: 0px !important;*/
  /*}*/
  .br-0{
    border-radius: 0px !important;
    /*background: black !important;*/
  }
  .mb-5{
    margin-bottom: 5px !important;
  }
  .pr-bg-img{
    height: 130px;
    width: 130px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .pr-main-card{
    /*grid-template-columns: 1fr 1fr !important;*/
    grid-template-columns: 130px 1fr !important;
    padding: 0px !important;
  }
  .pr-play-icon{
    width: 52px;
    height: 52px;
    display: none;
  }
  @media only screen and (max-width: 600px) {
    .pr-main-card{
      grid-template-columns: 98px 1fr !important;
      padding: 0px !important;
    }
    .pr-bg-img{
      height: 93px;
      width: 93px;
    }
    .pr-play-icon{
      width: 32px;
      height: 32px;
      display: none;
    }
  }
</style>
<!-- Project Card Section -->
<article class="crayons-story cursor-pointer crayons-story--featured project-card mb-10 br-0 pd-22" style="background: #ffffff">
  <% if music_release.present? %>
    <% if music_release.audios.published.present? %>
      <% audio = music_release.audios.published.first %>
      <div id="record-<%= audio.id.to_s %>" class="record-wrapper" data-podcast="<%= audio.slug %>" data-episode="<%= audio.id.to_s %>" style="display: none">
        <div class="record" id="record">
          <%= optimized_image_tag('/assets/playbutt.png',
                                  optimizer_options: { width: 420, height: 420, crop: "fill" },
                                  image_options: { class: "main-image", id: "main-image-#{audio.id.to_s}", alt: 'test' }) %>
          <img alt="Play Button" id="hidden-play-<%= audio.id %>" class="butt play-butt" src="<%= image_path("playbutt.png") %>" />
          <img alt="Pause Button" id="hidden-pause-<%= audio.id %>" class="butt pause-butt" src="<%= image_path("pausebutt.png") %>" />
          <div class="status-message" id="status-message-<%= audio.id.to_s %>">
            play
          </div>
        </div>
      </div>
      <% image = 'https://res.cloudinary.com/dyzicyjzq/image/fetch/s--YlfUcTgh--/c_fill,f_auto,fl_progressive,h_420,q_auto,w_420/https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png' %>
      <% if music_release.try(:header_image_url).present?  %>
        <% image = music_release.try(:header_image_url) %>
      <% end %>
      <%= render partial: "podcast_episodes/audio_podcast_bar", locals: {audio: audio, slug: audio.slug, image: image} %>
    <% end %>
    <% length = Time.at(music_release.length).utc.strftime("%M:%S").split(":") %>
    <a href="#" class="crayons-story__hidden-navigation-link">
      <%= music_release.try(:title) %>
    </a>
    <div class="crayons-layout pr-main-card">
      <div role="presentation">
<!--        <a href='<%#= artist_side.present? ? "/organizations/project_edit/#{project.id}" : "/organizations/project_show/#{project.id}" %>' class="crayons-story__cover br-0 pr-bg-img" title="testtttt" style="background-image: url('<%#= music_release.header_image_url.present? ? Images::Optimizer.call(music_release.header_image_url, width: 130, height: 130, crop: "fill") : 'https://res.cloudinary.com/dyzicyjzq/image/fetch/c_fill,h_130,w_130/https://studioappbucket.s3.amazonaws.com/i/76nnuqytglg0xahb1k1b.jpg' %>');">-->
          <%# if music_release.audios.published.present? && !project_side %>
<!--              <img alt="test" onclick="play_music(<%#= audio.id %>)" class="pr-play-icon" src="/assets/playbutt.png">-->
          <%# end %>
<!--        </a>-->
        <div class="crayons-story__cover br-0 pr-bg-img" title="testtttt" style="background-image: url('<%= music_release.header_image_url.present? ? Images::Optimizer.call(music_release.header_image_url, width: 130, height: 130, crop: "fill") : 'https://res.cloudinary.com/dyzicyjzq/image/fetch/c_fill,h_130,w_130/https://studioappbucket.s3.amazonaws.com/i/76nnuqytglg0xahb1k1b.jpg' %>');">
          <% if music_release.audios.published.present? && !project_side %>
              <img alt="test" onclick="play_music(<%= audio.id %>)" class="pr-play-icon" src="/assets/playbutt.png">
          <% end %>
        </div>
        <div class="crayons-story__body pd-b-0 p-l-r-0" style="padding-top: 0px">
          <div class="crayons-story__top m-b-0">
          </div>
        </div>
      </div>
      <% length = Time.at(music_release.length).utc.strftime("%M:%S").split(":") %>
      <% if music_release.length < 60 %>
        <% duration = "#{length[0]}" %>
      <% else %>
        <% duration = "#{length[0]}:#{length[1]}" %>
      <% end %>
      <% release_date = '' %>
      <% if project.try(:release_date).present? %>
        <% release_date = project.try(:release_date).strftime('%Y %m') %>
      <% end %>
      <% type = project.try(:org_type).present? && project.try(:org_type) == 'uncut' ? 'RAW N UNCUT' : 'NEW RELEASE'  %>
      <div class="project-presentation-text pt-text">
        <span class="pr-title-text-new"><%= music_release.try(:title).capitalize %></span>
        <svg style="float: right; height: 24px; margin-top: 8px; margin-left: 20px" width="5" height="33" viewBox="0 0 5 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.33203 1.94922C2.64453 1.94922 2.9043 2.04297 3.11133 2.23047C3.31836 2.41406 3.42188 2.65039 3.42188 2.93945C3.42188 3.22852 3.31836 3.4668 3.11133 3.6543C2.9043 3.83789 2.64453 3.92969 2.33203 3.92969C2.01562 3.92969 1.75391 3.83594 1.54688 3.64844C1.34375 3.46094 1.24219 3.22461 1.24219 2.93945C1.24219 2.6543 1.34375 2.41797 1.54688 2.23047C1.75391 2.04297 2.01562 1.94922 2.33203 1.94922ZM2.33203 15.9492C2.64453 15.9492 2.9043 16.043 3.11133 16.2305C3.31836 16.4141 3.42188 16.6504 3.42188 16.9395C3.42188 17.2285 3.31836 17.4668 3.11133 17.6543C2.9043 17.8379 2.64453 17.9297 2.33203 17.9297C2.01562 17.9297 1.75391 17.8359 1.54688 17.6484C1.34375 17.4609 1.24219 17.2246 1.24219 16.9395C1.24219 16.6543 1.34375 16.418 1.54688 16.2305C1.75391 16.043 2.01562 15.9492 2.33203 15.9492ZM2.33203 29.9492C2.64453 29.9492 2.9043 30.043 3.11133 30.2305C3.31836 30.4141 3.42188 30.6504 3.42188 30.9395C3.42188 31.2285 3.31836 31.4668 3.11133 31.6543C2.9043 31.8379 2.64453 31.9297 2.33203 31.9297C2.01562 31.9297 1.75391 31.8359 1.54688 31.6484C1.34375 31.4609 1.24219 31.2246 1.24219 30.9395C1.24219 30.6543 1.34375 30.418 1.54688 30.2305C1.75391 30.043 2.01562 29.9492 2.33203 29.9492Z" fill="black"/>
          <path d="M3.11133 2.23047L2.44001 2.97171L2.44784 2.97866L3.11133 2.23047ZM3.11133 3.6543L3.77485 4.40253L3.78261 4.3955L3.11133 3.6543ZM1.54688 3.64844L0.868564 4.38327L0.875596 4.38964L1.54688 3.64844ZM1.54688 2.23047L0.875565 1.48923L0.868595 1.49567L1.54688 2.23047ZM2.33203 2.94922C2.38761 2.94922 2.41407 2.95737 2.42176 2.96015C2.42768 2.96228 2.43196 2.96435 2.44005 2.97167L3.78261 1.48926C3.36942 1.11506 2.8609 0.949219 2.33203 0.949219V2.94922ZM2.44784 2.97866C2.45062 2.98112 2.44811 2.97933 2.44317 2.97265C2.4381 2.9658 2.43272 2.95682 2.42825 2.94663C2.42383 2.93651 2.42194 2.92895 2.42133 2.92585C2.42077 2.92304 2.42188 2.92698 2.42188 2.93945H4.42188C4.42188 2.37886 4.20649 1.86508 3.77482 1.48228L2.44784 2.97866ZM2.42188 2.93945C2.42188 2.9519 2.42078 2.95622 2.42119 2.95411C2.42166 2.95173 2.42324 2.94527 2.42705 2.93651C2.43088 2.92769 2.43538 2.9202 2.43926 2.91488C2.44301 2.90973 2.4442 2.90933 2.44005 2.91309L3.78261 4.3955C4.2071 4.01105 4.42188 3.49973 4.42188 2.93945H2.42188ZM2.44784 2.90611C2.44041 2.9127 2.43575 2.91525 2.42804 2.91798C2.4185 2.92135 2.38983 2.92969 2.33203 2.92969V4.92969C2.85518 4.92969 3.361 4.76945 3.77482 4.40248L2.44784 2.90611ZM2.33203 2.92969C2.27309 2.92969 2.24448 2.92111 2.23566 2.91795C2.2288 2.91549 2.22499 2.91342 2.21815 2.90723L0.875596 4.38964C1.29116 4.766 1.80286 4.92969 2.33203 4.92969V2.92969ZM2.22516 2.91363C2.221 2.9098 2.22202 2.91006 2.22553 2.91494C2.22917 2.92 2.23344 2.92719 2.23711 2.93573C2.24076 2.94422 2.24231 2.95054 2.24279 2.953C2.24322 2.95521 2.24219 2.95124 2.24219 2.93945H0.242188C0.242188 3.49373 0.453172 3.99977 0.868595 4.38324L2.22516 2.91363ZM2.24219 2.93945C2.24219 2.92767 2.24322 2.92369 2.24279 2.92591C2.24231 2.92837 2.24076 2.93469 2.23711 2.94318C2.23344 2.95171 2.22917 2.95891 2.22553 2.96396C2.22202 2.96885 2.221 2.9691 2.22516 2.96527L0.868595 1.49567C0.453172 1.87913 0.242188 2.38517 0.242188 2.93945H2.24219ZM2.21815 2.97167C2.22499 2.96548 2.2288 2.96341 2.23566 2.96095C2.24448 2.9578 2.27309 2.94922 2.33203 2.94922V0.949219C1.80286 0.949219 1.29116 1.11291 0.875596 1.48926L2.21815 2.97167ZM3.11133 16.2305L2.44001 16.9717L2.44784 16.9787L3.11133 16.2305ZM3.11133 17.6543L3.77485 18.4025L3.78261 18.3955L3.11133 17.6543ZM1.54688 17.6484L0.868564 18.3833L0.875596 18.3896L1.54688 17.6484ZM1.54688 16.2305L0.875565 15.4892L0.868595 15.4957L1.54688 16.2305ZM2.33203 16.9492C2.38761 16.9492 2.41407 16.9574 2.42176 16.9601C2.42768 16.9623 2.43196 16.9643 2.44005 16.9717L3.78261 15.4893C3.36942 15.1151 2.8609 14.9492 2.33203 14.9492V16.9492ZM2.44784 16.9787C2.45062 16.9811 2.44811 16.9793 2.44317 16.9727C2.4381 16.9658 2.43272 16.9568 2.42825 16.9466C2.42383 16.9365 2.42194 16.929 2.42133 16.9259C2.42077 16.923 2.42188 16.927 2.42188 16.9395H4.42188C4.42188 16.3789 4.20649 15.8651 3.77482 15.4823L2.44784 16.9787ZM2.42188 16.9395C2.42188 16.9519 2.42078 16.9562 2.42119 16.9541C2.42166 16.9517 2.42324 16.9453 2.42705 16.9365C2.43088 16.9277 2.43538 16.9202 2.43926 16.9149C2.44301 16.9097 2.4442 16.9093 2.44005 16.9131L3.78261 18.3955C4.2071 18.0111 4.42188 17.4997 4.42188 16.9395H2.42188ZM2.44784 16.9061C2.44041 16.9127 2.43575 16.9153 2.42804 16.918C2.4185 16.9214 2.38983 16.9297 2.33203 16.9297V18.9297C2.85518 18.9297 3.361 18.7695 3.77482 18.4025L2.44784 16.9061ZM2.33203 16.9297C2.27309 16.9297 2.24448 16.9211 2.23566 16.918C2.2288 16.9155 2.22499 16.9134 2.21815 16.9072L0.875596 18.3896C1.29116 18.766 1.80286 18.9297 2.33203 18.9297V16.9297ZM2.22516 16.9136C2.221 16.9098 2.22202 16.9101 2.22553 16.9149C2.22917 16.92 2.23344 16.9272 2.23711 16.9357C2.24076 16.9442 2.24231 16.9505 2.24279 16.953C2.24322 16.9552 2.24219 16.9512 2.24219 16.9395H0.242188C0.242188 17.4937 0.453172 17.9998 0.868595 18.3832L2.22516 16.9136ZM2.24219 16.9395C2.24219 16.9277 2.24322 16.9237 2.24279 16.9259C2.24231 16.9284 2.24076 16.9347 2.23711 16.9432C2.23344 16.9517 2.22917 16.9589 2.22553 16.964C2.22202 16.9688 2.221 16.9691 2.22516 16.9653L0.868595 15.4957C0.453172 15.8791 0.242188 16.3852 0.242188 16.9395H2.24219ZM2.21815 16.9717C2.22499 16.9655 2.2288 16.9634 2.23566 16.961C2.24448 16.9578 2.27309 16.9492 2.33203 16.9492V14.9492C1.80286 14.9492 1.29116 15.1129 0.875596 15.4893L2.21815 16.9717ZM3.11133 30.2305L2.44001 30.9717L2.44784 30.9787L3.11133 30.2305ZM3.11133 31.6543L3.77485 32.4025L3.78261 32.3955L3.11133 31.6543ZM1.54688 31.6484L0.868564 32.3833L0.875596 32.3896L1.54688 31.6484ZM1.54688 30.2305L0.875565 29.4892L0.868595 29.4957L1.54688 30.2305ZM2.33203 30.9492C2.38761 30.9492 2.41407 30.9574 2.42176 30.9601C2.42768 30.9623 2.43196 30.9643 2.44005 30.9717L3.78261 29.4893C3.36942 29.1151 2.8609 28.9492 2.33203 28.9492V30.9492ZM2.44784 30.9787C2.45062 30.9811 2.44811 30.9793 2.44317 30.9727C2.4381 30.9658 2.43272 30.9568 2.42825 30.9466C2.42383 30.9365 2.42194 30.929 2.42133 30.9259C2.42077 30.923 2.42188 30.927 2.42188 30.9395H4.42188C4.42188 30.3789 4.20649 29.8651 3.77482 29.4823L2.44784 30.9787ZM2.42188 30.9395C2.42188 30.9519 2.42078 30.9562 2.42119 30.9541C2.42166 30.9517 2.42324 30.9453 2.42705 30.9365C2.43088 30.9277 2.43538 30.9202 2.43926 30.9149C2.44301 30.9097 2.4442 30.9093 2.44005 30.9131L3.78261 32.3955C4.2071 32.0111 4.42188 31.4997 4.42188 30.9395H2.42188ZM2.44784 30.9061C2.44041 30.9127 2.43575 30.9153 2.42804 30.918C2.4185 30.9214 2.38983 30.9297 2.33203 30.9297V32.9297C2.85518 32.9297 3.361 32.7695 3.77482 32.4025L2.44784 30.9061ZM2.33203 30.9297C2.27309 30.9297 2.24448 30.9211 2.23566 30.9179C2.2288 30.9155 2.22499 30.9134 2.21815 30.9072L0.875596 32.3896C1.29116 32.766 1.80286 32.9297 2.33203 32.9297V30.9297ZM2.22516 30.9136C2.221 30.9098 2.22202 30.9101 2.22553 30.9149C2.22917 30.92 2.23344 30.9272 2.23711 30.9357C2.24076 30.9442 2.24231 30.9505 2.24279 30.953C2.24322 30.9552 2.24219 30.9512 2.24219 30.9395H0.242188C0.242188 31.4937 0.453172 31.9998 0.868595 32.3832L2.22516 30.9136ZM2.24219 30.9395C2.24219 30.9277 2.24322 30.9237 2.24279 30.9259C2.24231 30.9284 2.24076 30.9347 2.23711 30.9432C2.23344 30.9517 2.22917 30.9589 2.22553 30.964C2.22202 30.9688 2.221 30.9691 2.22516 30.9653L0.868595 29.4957C0.453172 29.8791 0.242188 30.3852 0.242188 30.9395H2.24219ZM2.21815 30.9717C2.22499 30.9655 2.2288 30.9634 2.23566 30.961C2.24448 30.9578 2.27309 30.9492 2.33203 30.9492V28.9492C1.80286 28.9492 1.29116 29.1129 0.875596 29.4893L2.21815 30.9717Z" fill="black"/>
        </svg>
        <span class="pr-price-text-new">¢<%= number_with_precision(music_release.try(:price), precision: 2) %></span>
        <p class="pr-desc-text-new"><%= project.try(:name) %></p>
        <!--        <p class="pr-desc-text"><%#= music_release.try(:description) %></p>-->
        <!--        <p class="pr-below-text">-->
        <!--          <%#= type %> | <%#= duration %> |  <%#= release_date %>-->
        <!--        </p>-->
        <!--        <p class="pr-price-text">¢<%#= number_with_precision(music_release.try(:price), precision: 2) %></p>-->
      </div>

      <div class="project-presentation-text pt-text-mobile">
        <span class="pr-title-text-new">
          <% if music_release.try(:title) and music_release.try(:title).length > 8 %>
            <%= music_release.try(:title)[0..8].capitalize %> ...
          <% else %>
            <%= music_release.try(:title).capitalize %>
          <% end %>
        </span>
        <svg style="float: right; height: 24px; margin-top: 8px; margin-left: 20px" width="5" height="33" viewBox="0 0 5 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.33203 1.94922C2.64453 1.94922 2.9043 2.04297 3.11133 2.23047C3.31836 2.41406 3.42188 2.65039 3.42188 2.93945C3.42188 3.22852 3.31836 3.4668 3.11133 3.6543C2.9043 3.83789 2.64453 3.92969 2.33203 3.92969C2.01562 3.92969 1.75391 3.83594 1.54688 3.64844C1.34375 3.46094 1.24219 3.22461 1.24219 2.93945C1.24219 2.6543 1.34375 2.41797 1.54688 2.23047C1.75391 2.04297 2.01562 1.94922 2.33203 1.94922ZM2.33203 15.9492C2.64453 15.9492 2.9043 16.043 3.11133 16.2305C3.31836 16.4141 3.42188 16.6504 3.42188 16.9395C3.42188 17.2285 3.31836 17.4668 3.11133 17.6543C2.9043 17.8379 2.64453 17.9297 2.33203 17.9297C2.01562 17.9297 1.75391 17.8359 1.54688 17.6484C1.34375 17.4609 1.24219 17.2246 1.24219 16.9395C1.24219 16.6543 1.34375 16.418 1.54688 16.2305C1.75391 16.043 2.01562 15.9492 2.33203 15.9492ZM2.33203 29.9492C2.64453 29.9492 2.9043 30.043 3.11133 30.2305C3.31836 30.4141 3.42188 30.6504 3.42188 30.9395C3.42188 31.2285 3.31836 31.4668 3.11133 31.6543C2.9043 31.8379 2.64453 31.9297 2.33203 31.9297C2.01562 31.9297 1.75391 31.8359 1.54688 31.6484C1.34375 31.4609 1.24219 31.2246 1.24219 30.9395C1.24219 30.6543 1.34375 30.418 1.54688 30.2305C1.75391 30.043 2.01562 29.9492 2.33203 29.9492Z" fill="black"/>
          <path d="M3.11133 2.23047L2.44001 2.97171L2.44784 2.97866L3.11133 2.23047ZM3.11133 3.6543L3.77485 4.40253L3.78261 4.3955L3.11133 3.6543ZM1.54688 3.64844L0.868564 4.38327L0.875596 4.38964L1.54688 3.64844ZM1.54688 2.23047L0.875565 1.48923L0.868595 1.49567L1.54688 2.23047ZM2.33203 2.94922C2.38761 2.94922 2.41407 2.95737 2.42176 2.96015C2.42768 2.96228 2.43196 2.96435 2.44005 2.97167L3.78261 1.48926C3.36942 1.11506 2.8609 0.949219 2.33203 0.949219V2.94922ZM2.44784 2.97866C2.45062 2.98112 2.44811 2.97933 2.44317 2.97265C2.4381 2.9658 2.43272 2.95682 2.42825 2.94663C2.42383 2.93651 2.42194 2.92895 2.42133 2.92585C2.42077 2.92304 2.42188 2.92698 2.42188 2.93945H4.42188C4.42188 2.37886 4.20649 1.86508 3.77482 1.48228L2.44784 2.97866ZM2.42188 2.93945C2.42188 2.9519 2.42078 2.95622 2.42119 2.95411C2.42166 2.95173 2.42324 2.94527 2.42705 2.93651C2.43088 2.92769 2.43538 2.9202 2.43926 2.91488C2.44301 2.90973 2.4442 2.90933 2.44005 2.91309L3.78261 4.3955C4.2071 4.01105 4.42188 3.49973 4.42188 2.93945H2.42188ZM2.44784 2.90611C2.44041 2.9127 2.43575 2.91525 2.42804 2.91798C2.4185 2.92135 2.38983 2.92969 2.33203 2.92969V4.92969C2.85518 4.92969 3.361 4.76945 3.77482 4.40248L2.44784 2.90611ZM2.33203 2.92969C2.27309 2.92969 2.24448 2.92111 2.23566 2.91795C2.2288 2.91549 2.22499 2.91342 2.21815 2.90723L0.875596 4.38964C1.29116 4.766 1.80286 4.92969 2.33203 4.92969V2.92969ZM2.22516 2.91363C2.221 2.9098 2.22202 2.91006 2.22553 2.91494C2.22917 2.92 2.23344 2.92719 2.23711 2.93573C2.24076 2.94422 2.24231 2.95054 2.24279 2.953C2.24322 2.95521 2.24219 2.95124 2.24219 2.93945H0.242188C0.242188 3.49373 0.453172 3.99977 0.868595 4.38324L2.22516 2.91363ZM2.24219 2.93945C2.24219 2.92767 2.24322 2.92369 2.24279 2.92591C2.24231 2.92837 2.24076 2.93469 2.23711 2.94318C2.23344 2.95171 2.22917 2.95891 2.22553 2.96396C2.22202 2.96885 2.221 2.9691 2.22516 2.96527L0.868595 1.49567C0.453172 1.87913 0.242188 2.38517 0.242188 2.93945H2.24219ZM2.21815 2.97167C2.22499 2.96548 2.2288 2.96341 2.23566 2.96095C2.24448 2.9578 2.27309 2.94922 2.33203 2.94922V0.949219C1.80286 0.949219 1.29116 1.11291 0.875596 1.48926L2.21815 2.97167ZM3.11133 16.2305L2.44001 16.9717L2.44784 16.9787L3.11133 16.2305ZM3.11133 17.6543L3.77485 18.4025L3.78261 18.3955L3.11133 17.6543ZM1.54688 17.6484L0.868564 18.3833L0.875596 18.3896L1.54688 17.6484ZM1.54688 16.2305L0.875565 15.4892L0.868595 15.4957L1.54688 16.2305ZM2.33203 16.9492C2.38761 16.9492 2.41407 16.9574 2.42176 16.9601C2.42768 16.9623 2.43196 16.9643 2.44005 16.9717L3.78261 15.4893C3.36942 15.1151 2.8609 14.9492 2.33203 14.9492V16.9492ZM2.44784 16.9787C2.45062 16.9811 2.44811 16.9793 2.44317 16.9727C2.4381 16.9658 2.43272 16.9568 2.42825 16.9466C2.42383 16.9365 2.42194 16.929 2.42133 16.9259C2.42077 16.923 2.42188 16.927 2.42188 16.9395H4.42188C4.42188 16.3789 4.20649 15.8651 3.77482 15.4823L2.44784 16.9787ZM2.42188 16.9395C2.42188 16.9519 2.42078 16.9562 2.42119 16.9541C2.42166 16.9517 2.42324 16.9453 2.42705 16.9365C2.43088 16.9277 2.43538 16.9202 2.43926 16.9149C2.44301 16.9097 2.4442 16.9093 2.44005 16.9131L3.78261 18.3955C4.2071 18.0111 4.42188 17.4997 4.42188 16.9395H2.42188ZM2.44784 16.9061C2.44041 16.9127 2.43575 16.9153 2.42804 16.918C2.4185 16.9214 2.38983 16.9297 2.33203 16.9297V18.9297C2.85518 18.9297 3.361 18.7695 3.77482 18.4025L2.44784 16.9061ZM2.33203 16.9297C2.27309 16.9297 2.24448 16.9211 2.23566 16.918C2.2288 16.9155 2.22499 16.9134 2.21815 16.9072L0.875596 18.3896C1.29116 18.766 1.80286 18.9297 2.33203 18.9297V16.9297ZM2.22516 16.9136C2.221 16.9098 2.22202 16.9101 2.22553 16.9149C2.22917 16.92 2.23344 16.9272 2.23711 16.9357C2.24076 16.9442 2.24231 16.9505 2.24279 16.953C2.24322 16.9552 2.24219 16.9512 2.24219 16.9395H0.242188C0.242188 17.4937 0.453172 17.9998 0.868595 18.3832L2.22516 16.9136ZM2.24219 16.9395C2.24219 16.9277 2.24322 16.9237 2.24279 16.9259C2.24231 16.9284 2.24076 16.9347 2.23711 16.9432C2.23344 16.9517 2.22917 16.9589 2.22553 16.964C2.22202 16.9688 2.221 16.9691 2.22516 16.9653L0.868595 15.4957C0.453172 15.8791 0.242188 16.3852 0.242188 16.9395H2.24219ZM2.21815 16.9717C2.22499 16.9655 2.2288 16.9634 2.23566 16.961C2.24448 16.9578 2.27309 16.9492 2.33203 16.9492V14.9492C1.80286 14.9492 1.29116 15.1129 0.875596 15.4893L2.21815 16.9717ZM3.11133 30.2305L2.44001 30.9717L2.44784 30.9787L3.11133 30.2305ZM3.11133 31.6543L3.77485 32.4025L3.78261 32.3955L3.11133 31.6543ZM1.54688 31.6484L0.868564 32.3833L0.875596 32.3896L1.54688 31.6484ZM1.54688 30.2305L0.875565 29.4892L0.868595 29.4957L1.54688 30.2305ZM2.33203 30.9492C2.38761 30.9492 2.41407 30.9574 2.42176 30.9601C2.42768 30.9623 2.43196 30.9643 2.44005 30.9717L3.78261 29.4893C3.36942 29.1151 2.8609 28.9492 2.33203 28.9492V30.9492ZM2.44784 30.9787C2.45062 30.9811 2.44811 30.9793 2.44317 30.9727C2.4381 30.9658 2.43272 30.9568 2.42825 30.9466C2.42383 30.9365 2.42194 30.929 2.42133 30.9259C2.42077 30.923 2.42188 30.927 2.42188 30.9395H4.42188C4.42188 30.3789 4.20649 29.8651 3.77482 29.4823L2.44784 30.9787ZM2.42188 30.9395C2.42188 30.9519 2.42078 30.9562 2.42119 30.9541C2.42166 30.9517 2.42324 30.9453 2.42705 30.9365C2.43088 30.9277 2.43538 30.9202 2.43926 30.9149C2.44301 30.9097 2.4442 30.9093 2.44005 30.9131L3.78261 32.3955C4.2071 32.0111 4.42188 31.4997 4.42188 30.9395H2.42188ZM2.44784 30.9061C2.44041 30.9127 2.43575 30.9153 2.42804 30.918C2.4185 30.9214 2.38983 30.9297 2.33203 30.9297V32.9297C2.85518 32.9297 3.361 32.7695 3.77482 32.4025L2.44784 30.9061ZM2.33203 30.9297C2.27309 30.9297 2.24448 30.9211 2.23566 30.9179C2.2288 30.9155 2.22499 30.9134 2.21815 30.9072L0.875596 32.3896C1.29116 32.766 1.80286 32.9297 2.33203 32.9297V30.9297ZM2.22516 30.9136C2.221 30.9098 2.22202 30.9101 2.22553 30.9149C2.22917 30.92 2.23344 30.9272 2.23711 30.9357C2.24076 30.9442 2.24231 30.9505 2.24279 30.953C2.24322 30.9552 2.24219 30.9512 2.24219 30.9395H0.242188C0.242188 31.4937 0.453172 31.9998 0.868595 32.3832L2.22516 30.9136ZM2.24219 30.9395C2.24219 30.9277 2.24322 30.9237 2.24279 30.9259C2.24231 30.9284 2.24076 30.9347 2.23711 30.9432C2.23344 30.9517 2.22917 30.9589 2.22553 30.964C2.22202 30.9688 2.221 30.9691 2.22516 30.9653L0.868595 29.4957C0.453172 29.8791 0.242188 30.3852 0.242188 30.9395H2.24219ZM2.21815 30.9717C2.22499 30.9655 2.2288 30.9634 2.23566 30.961C2.24448 30.9578 2.27309 30.9492 2.33203 30.9492V28.9492C1.80286 28.9492 1.29116 29.1129 0.875596 29.4893L2.21815 30.9717Z" fill="black"/>
        </svg>
        <span class="pr-price-text-new">¢<%= number_with_precision(music_release.try(:price), precision: 2) %></span>
        <p class="pr-desc-text-new pr-text-mobile">
          <% if project.try(:name) and project.try(:name).length > 15 %>
            <%= project.try(:name)[0..15].capitalize %> ...
          <% else %>
            <%= project.try(:name).capitalize %>
          <% end %>
        </p>
        <p class="pr-desc-text-new pr-text">
          <%= project.try(:name) %>
        </p>
        <!--        <p class="pr-desc-text"><%#= music_release.try(:description) %></p>-->
        <!--        <p class="pr-below-text">-->
        <!--          <%#= type %> | <%#= duration %> |  <%#= release_date %>-->
        <!--        </p>-->
        <!--        <p class="pr-price-text">¢<%#= number_with_precision(music_release.try(:price), precision: 2) %></p>-->
      </div>
    </div>
  <% else %>
    <div class="alert alert-danger">No product found against this project</div>
  <% end %>
</article>
<div style="background: white; padding: 10px; display: none" class="margin-bottom-30">
  <!-- crayons-layout--3-cols crayons-layout--3-cols--drop-right-left -->
  <div class="crayons-story__bottom" style="padding-right: 2px">
    <div>
      <img src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/comment.png" alt="">
      <p class="pr-bottom-bar-text"> Comment</p>
    </div>
    <div>
      <img height="33" width="33" src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/playlist.png" alt="">
      <p class="pr-bottom-bar-text"> Playlist</p>
    </div>
    <div>
      <img src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/add-friend.png" alt="">
      <p class="pr-bottom-bar-text"> Follow</p>
    </div>
  </div>
  <div style="display: none" class="crayons-layout crayons-layout--3-cols crayons-layout--3-cols--drop-right-left pr-bottom-bar">
    <div>
      <img src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/comment.png" alt="">
      <span class="pr-bottom-bar-text"> Comment</span>
    </div>
    <div>
      <img height="33" width="33" src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/playlist.png" alt="">
      <span class="pr-bottom-bar-text"> Playlist</span>
    </div>
    <div>
      <img src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/add-friend.png" alt="">
      <span class="pr-bottom-bar-text"> Follow</span>
    </div>
    <!--    <div style="text-align: right">-->
    <!--      <img height="33" src="https://studioappbucket.s3.ap-south-1.amazonaws.com/uploads/badge-bar.png" alt="">-->
    <!--      <span class="pr-bottom-bar-text"> Comment</span>-->
    <!--    </div>-->
  </div>
</div>
<div id="mockup-audios" class="mockup-audios" style="display: none">
  <div id="audiocontentt" data-podcast="">
    <audio id="audiot" data-episode="46" data-podcast="m-test-slug46">
      <source src="https://studioappbucket.s3.amazonaws.com/audio/audio-upload.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <div id="progressBart" class="audio-player-display playing">
      <a href="/m-test-slug46/46">
        <img id="episode-profile-imaget" alt="fs" width="420" height="420" src="https://res.cloudinary.com/dyzicyjzq/image/fetch/s--xkdBzESk--/c_fill,f_auto,fl_progressive,h_420,q_auto,w_420/https://res.cloudinary.com/dyzicyjzq/image/fetch/s--YlfUcTgh--/c_fill%2Cf_auto%2Cfl_progressive%2Ch_420%2Cq_auto%2Cw_420/https://studioappbucket.s3.amazonaws.com/i/dbaz3ch7fhelwlbzsky6.png">
        <img id="animated-barst" src="/assets/animated-bars.gif" alt="animated volume bars" class="">
      </a>
      <span id="barPlayPauset" class="">
      <img class="butt play-butt" alt="play" src="/assets/playbutt.png">
      <img class="butt pause-butt" alt="pause" src="/assets/pausebutt.png">
    </span>
      <span id="volumet">
      <span id="volumeindicatort" class="volume-icon-wrapper showing">
        <span id="volbutt"><img alt="volume" class="icon-img" height="16" width="16" src="/assets/volume"></span>
        <span class="range-wrapper">
          <input type="range" name="points" id="volumeslider" value="50" min="0" max="100" data-show-value="true">
        </span>
      </span>
      <span id="mutebuttt" class="volume-icon-wrapper hidden"><img alt="volume-mute" class="icon-img" height="16" width="16" src="/assets/volume"></span>
      <span class="speed" id="speed" data-speed="1">1x</span>
    </span>
      <span class="buffer-wrappert" id="bufferwrappert">
      <p style="color: black; text-align: left; margin-left: 10px; margin-top: 20px">No Audio Selected</p>
        <!--      <span id="buffer" style="width: 0%;"></span>-->
        <!--      <span id="progress" style="width: 0%;"></span>-->
        <!--      <span id="time">00:00 / 00:00</span>-->
      <span id="closebuttt" onclick="removeElementsByClass('mockup-audios')">×</span>
    </span>
    </div>
  </div>
</div>

<script>
  setTimeout(function (){
    if(document.getElementsByClassName('playing')[0].id == 'progressBar'){
    }else{
      document.getElementById('mockup-audios').style.display = 'block';
    }
  }, 2000)
  function removeElementsByClass(className){
    var elements = document.getElementsByClassName(className);
    while(elements.length > 0){
      elements[0].parentNode.removeChild(elements[0]);
    }
  }
  function play_music(audio_id){
    removeElementsByClass('mockup-audios')
    if(document.getElementById("closebutt")){
      document.getElementById("closebutt").click();
    }
    document.getElementById("record-"+audio_id).click();
    // document.getElementById("play-"+audio_id).style.display = 'none'
    // document.getElementById("pause-"+audio_id).style.display = 'inline-block'
  }

  // function addHidden(theForm, key, value) {
  //   // Create a hidden input element, and append it to the form:
  //   var input = document.createElement('input');
  //   input.type = 'hidden';
  //   input.name = key; // 'the key/name of the attribute/field that is sent to the server
  //   input.value = value;
  //   theForm.appendChild(input);
  // }
</script>
