<style>
  .artist_applications-new{
    background: #28292D !important;
  }
  .text-color-white{
    color: white;
  }
  .text-centered{
    text-align: center
  }
  .start-now-btn{
    /*height: 3rem;*/
    width: 54%;
    background: rgba(215, 225, 43, 0.9);
    border: 2px solid rgba(254, 216, 83, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    height: 43px;
  }
  .start-now-btn:hover{
    background: rgb(242, 255, 26) !important;
    color: black !important;
  }
  /*.signup-field{*/
  /*  width: 50%;*/
  /*  padding: 12px;*/
  /*  background: #FFFFFF;*/
  /*  border: 1px solid #FED853;*/
  /*  box-sizing: border-box;*/
  /*  box-shadow: 0px 0px 0px rgba(19, 126, 255, 0.25);*/
  /*  border-radius: 4.8px 0px 0px 4.8px;*/
  /*}*/
  .signup-field{
    width: 50%;
    padding: 12px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(215, 225, 43, 0.9);
    color: white !important;
  }
  .margin-for-password-field{
    margin-top: 1.8rem;
  }
  .svg-logo{
    position: relative;
    right: 20px;
    top: 15px;
  }
  .text-below-p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 25px;
  }
  .header-p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 25px;
  }
  .footer-p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 25px;
  }
/*  new css*/
  .new-white-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    color: #FFFFFF;
    margin-left: 20%;
  }
  .music-container{
    background: #000000 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding-top: 5.2em;
  }
  .juke-text{
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 7.2em;
    line-height: 117px;
    color: #8491A0;
    margin-left: 10px;
    text-align: center;
  }
  .streaming-text{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 1.44px;
    color: #FFFFFF;
    margin-left: 20%;
  }
  .streaming-text-yellow{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 1.44px;
    color: #D7E02C !important;
  }
  ::-webkit-input-placeholder { /* Edge */
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  ::placeholder {
    font-family: 'Roboto','sans-serif';
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #FFFFFF;
  }
  .btn-below-text{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    width: 54%;
    margin: auto;
    margin-top: 50px;
  }
  .form-enroll{
    padding-top: 7.2em;
  }
  .jukebox-works-container{
    background: #000000;
    border-radius: 0px;
    padding-top: 10.2em;
    padding-bottom: 10.2em;
  }
  .jukebox-work-text{
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
  }
  .art-text{
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #5221E6;
  }
  .jukebox-work-below-text{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
  }
  .artificial-container{
    background: #D7E12B;
    border-radius: 0px;
    padding-top: 10.2em;
  }
  .artificial-work-text{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }
  .artificial-below-work-text{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #5221E6;
  }
  .artificial-descriptive-text{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #181823;
  }
  .break-text{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #D4DF2A;
  }
  .break-white{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .text-gray-color{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #8491A0;
  }
  .text-white-color{
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .logo-banner-bg{
    background: url("https://studioappbucket.s3.ap-south-1.amazonaws.com/user_uploads/logo-banner.png");
  }
  .juke-img{
    position: absolute;
    top: -24%;
    width: 600px;
    left: 60%;
    z-index: -10;
  }

  @media only screen and (max-width: 600px) {
    .juke-text{
      font-size: 4.2em;
    }
    .new-white-text{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 40px;
      color: #FFFFFF;
      margin-left: 10px;
    }
    .juke-img{
      position: absolute;
      top: 20%;
      width: 230px;
      left: 34%;
    }
    .signup-field{
      width: 90%;
    }
    .start-now-btn{
      width: 97%;
    }
    .btn-below-text{
      width: 100%;
    }
    .streaming-text{
      margin-left: 20%;
    }
  }
</style>
<div class="container-fluid">
  <div class="row top-banner">
    Join now, the private testing mode, and be one of the first to access the future of music streaming
  </div>
</div>
<div class="container-fluid" style="background: #000000; width: 100%;">
  <div class="container music-container">
    <% if flash[:artist_error].present? %>
      <div class="alert alert-danger" style="text-align: center">
        <% if flash[:artist_error].is_a?(String) %>
          <%= flash[:artist_error] %> sadas
        <% else %>
        <ul style="list-style-type: none;">
          <% flash[:artist_error].each do |a| %>
            <li><%= a %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    <% end %>
    <% unless flash[:artist_success].present? %>
      <div class="row" style="position: relative;z-index: 1">
        <p class="new-white-text">
          ALL-IN-ONE MUSIC STREAMING PLATFORM
        </p>
        <p class="juke-text">
          JUKEBOX
        </p>
        <br>
<!--        <img class="juke-img" src="https://studioappbucket.s3.ap-south-1.amazonaws.com/user_uploads/logo-banner.png" alt="logo">-->
        <p class="streaming-text">new music releases.</p>
        <p class="streaming-text">raw n uncut studio recordings</p>
      </div>

      <div class="row form-enroll">
        <% @user = User.new if @user.blank? %>
        <%= form_with model: @user, url: artist_applications_path(@user), method: :post, html: { class: "mb-2" }, local: true  do |f| %>
          <br>
  <!--        <div class="row">-->
  <!--        <div class="col-md-6">-->
          <div class="form-group text-centered">
              <%= f.text_field :email, class: "form-control signup-field", required: true, placeholder: "Enter your email address" %>
          </div>
  <!--        </div>-->
  <!--        </div>-->
          <div class="form-group text-centered">
            <input class="form-control signup-field margin-for-password-field" type="password" name='user[password]' required placeholder="Choose a password">
          </div>
          <br>
          <div class="form-group" style="text-align: center">
            <%= f.submit "JOIN NOW", class: "crayons-btn start-now-btn" %>
          </div>
        <% end %>
        <p class="btn-below-text">
          Note: you are not automatically accessing Unitedbits marketplace. If you meet the eligibility requirements, a music director will contact you within a few days to finish onboarding.
        </p>
      </div>
      <div class="row jukebox-works-container">
        <p class="how-text">HOW IT WORKS?</p>
        <br>
        <p class="jukebox-work-text">
          INDIE STREAMING PLATFORM: <span class="y-text">50-50 SPLIT</span>
        </p>
        <br>
        <p class="jukebox-work-below-text">
          Jukebox helps artists access a streaming-as-a-service platform, and offers an alternative to distribution monopolies. Artists set their price, and get paid directly from fans.  Jukebox operates on a 50-50 split.
        </p>
      </div>
    <% else %>
      <div class="thank-you-div" style="margin-bottom: 70px">
        <h1>
          Thank you
        </h1>
        <p>
          We are processing your application. We will get back to you within the next 72 hours
        </p>
      </div>
    <% end %>
  </div>
  <div style="background: #D7E12B; padding-bottom: 10.2em">
    <div class="container" style="background: #D7E12B !important;box-shadow: none">
      <div class="artificial-container">
        <p class="artificial-work-text">
          BUILD CULTURE: <span class="artificial-below-work-text">MANAGE DIGITAL RIGHTS</span>
        </p>
        <br>
        <p class="artificial-descriptive-text">
          Jukebox is open-source built on-blockchain by developers for musicians to:
          Secure ownership, incentivize collaboration, make licensing easy.
          Unlock a universe of open financial applications on music.
        </p>
      </div>
    </div>
  </div>
  <div style="background: #000000; padding-bottom: 10.2em">
    <div class="container" style="background: #000000 !important;box-shadow: none">
      <div class="artificial-container" style="background: #000000">
        <p class="artificial-work-text" style="color: white">
          LEARN TO SUCCEED: <span class="y-text">OWN YOUR RIGHTS</span>
        </p>
        <br>
        <p class="artificial-descriptive-text" style="color: #FFFFFF;">
          To join the platform you need full ownership of rights over your music. Artists that own their rights drive market-defining innovation navigating the complex mesh of the traditional music industry.
        </p>
      </div>
    </div>
  </div>
  <div style="background: #000000; padding-bottom: 10.2em">
    <div class="container" style="background: #000000 !important;box-shadow: none">
      <div class="artificial-container" style="background: #000000">
        <p class="artificial-work-text" style="color: white">
          EXCLUSIVITY: <span class="artificial-below-work-text">CREATE ARTIFICIAL SCARCITY</span>
        </p>
        <br>
        <p class="artificial-descriptive-text" style="color: #FFFFFF;">
          Artificial scarcity creates the conditions for discovering culture’s true market value, the opposite of the streaming economy today. Streaming a track exclusively on Jukebox helps artists, to create an artificial scarcity around art, and make real money. Join the network.
        </p>
      </div>
    </div>
  </div>
  <div style="background: #050505; padding-bottom: 10.2em">
    <div class="container" style="background: #050505 !important;box-shadow: none">
      <div style="padding-top: 10.2em">
        <p style="
          font-family: 'Roboto','sans-serif';
          font-style: normal;
          font-weight: bold;
          font-size: 21px;
          line-height: 40px;
          color: #FFFFFF; margin-left: 10px">
          MUSIC LAUNCHER PLATFORM: TOOLS FOR YOU
        </p>
        <br>
        <p class="juke-text" style="text-align: left">
          JUKEBOX
        </p>
        <br><br>
        <p class="j-below-desc-text">Jukebox is a platform that provides the tools to create music, curate or collaborate for a living.</p>
        <br><br><br><br>
        <div style="background: #181823; padding: 20px">
          <p class="break-text">AUTHENTICALLY ENGAGE: <span class="break-white">STREAM EXCLUSIVE CONTENT</span></p>
          <br>
          <p class="text-gray-color">
            BUILD YOUR LABEL
          </p>
          <br>
          <p class="text-white-color">
            Brake new music, monetise “raw n uncut” recordings from the studio, engage your fans to participate in the making of music. Use jukebox to build your label.
          </p>
        </div>
        <br><br>
        <div style="background: #181823; padding: 20px">
          <p class="break-text">SPLIT ROYALTIES: <span class="break-white">INCENTIVIZE COLLABORATION</span></p>
          <br>
          <p class="text-gray-color">
            GROW YOUR TEAM— INCREASE PRODUCTIVITY
          </p>
          <br>
          <p class="text-white-color">
            Music rights are you assets. Use them to build collaborations with world-class influencers, DJs, and A+Rs. Setup digital campaigns, grow your fanbase, reach new audiences, take songs viral on social media platforms like Tik Tok and Instagram. Bring your music to market.
          </p>
        </div>
        <br><br>
        <div style="background: #181823; padding: 20px">
          <p class="break-text">PAYMENTS PLATFORM: <span class="break-white">INCREASE REVENUE</span></p>
          <br>
          <p class="text-gray-color">
            STREAMLINE PAYMENTS FLOW
          </p>
          <br>
          <p class="text-white-color">
            Get paid everytime your music is streamed and purchased.  Revenue generated from streaming and sales is distributed direct from fans, to artists and their teams.
          </p>
        </div>
        <br><br>
        <div style="background: #181823; padding: 20px; display: none">
          <p class="break-text">GENERATE $: <span class="break-white">STREAMLINE PAYMENTS</span></p>
          <br>
          <p class="text-gray-color">
            STREAMLINE PAYMENTS FLOW
          </p>
          <br>
          <p class="text-white-color">
            Get paid everytime your music is streamed and purchased.  Revenue generated from streaming and sales is distributed direct from fans, to artists and their teams.
          </p>
        </div>
        <br><br>
        <div style="background: #181823; padding: 20px; display: none">
          <p class="break-text">OWN YOUR MUSIC RIGHTS: <span class="break-white">CRYPTO JUKEBOX</span></p>
          <br>
          <p class="text-gray-color">
            PRICE DISCOVERY- DIGITAL DROPS
          </p>
          <br>
          <p class="text-white-color">
            Use digital contracts on Ethereum blockchain to monetise rights ownership, music distribution and broadcasting. Create NFT’S to structure future collaborations. Want to learn more? Join
          </p>
        </div>
      </div>
    </div>
  </div>
  <div style="background: #D7E12B; padding-bottom: 10.2em">
    <div class="container" style="background: #D7E12B !important;box-shadow: none">
      <div class="artificial-container">
        <p class="bottom-end-text" style="margin-left: 10px">
          EXECUTING THE VISION— CODE WE BUILD
        </p>
        <p class="juke-text" style="text-align: left">
          JUKEBOX
        </p>
        <br><br><br><br>
        <div style="margin-top: 20px; margin-left: 32px">
          <p class="bottom-end-sub-heading" style="text-align: left">
            NETWORK OF MUSIC COMMUNITIES: <span style="color: #5221E6">SHARE MUSIC ROYALTIES WITH FANS</span>
          </p>
          <p class="bottom-end-gray-text" style="margin-top: 10px">GO VIRAL: NOT DISTRIBUTION MONOPOLIES</p>
          <p class="bottom-end-details" style="text-align: left; margin-top: 5px">
            Building the tools to allow fans and musicians engage in the production and distribution of music. Communities form from fans and creators having financial interests over the music asset.
          </p>
        </div>
        <br><br>
        <div style="margin-top: 20px; margin-left: 32px">
          <p class="bottom-end-sub-heading" style="text-align: left">
            CRYPTO-UNION GOVERNANCE: <span style="color: #5221E6">CONTROL THE PLATFORM</span>
          </p>
          <p class="bottom-end-gray-text" style="margin-top: 10px">DISTRIBUTED DECISION MAKING AND PROFIT SHARING MUSIC UNIONS</p>
          <p class="bottom-end-details" style="text-align: left; margin-top: 5px">
            The future of music is many decentralised and autonomous music publishing and content management platforms. We envision a future where platforms are controlled by members. We are working towards this progressive decentralised governance.
          </p>
        </div>
        <br><br>
        <div style="margin-top: 20px; margin-left: 32px">
          <p class="bottom-end-sub-heading" style="text-align: left">
            CONTROL YOUR CONTENT: <span style="color: #5221E6">ON BLOCKCHAIN MUSIC LIBRARIES</span>
          </p>
          <p class="bottom-end-gray-text" style="margin-top: 10px">NFT’S DIGITAL CONTRACTS FOR LICENSING AND ACCESS CONTROL</p>
          <p class="bottom-end-details" style="text-align: left; margin-top: 5px">
            Jukebox stores music in a large repository. We are building NFT’S tools for you to manage access over your content, and maximize revenue generation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
