<style>
  body{
    background: #0E1218;
  }
  .project-card-stories {
    /*padding: 40px 38px !important;*/
    background: #171a1f !important;
    border-radius: 5px !important;
  }
  .project-card-description-below {
    background: #2d3034;
    backdrop-filter: blur(9px);
    border-radius: 5px;
    padding: 14px 19px 15px;
  }
  .project-card-description-below p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #ffffff;
  }
  .yellow-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #fed853;
    margin-top: 50px;
    margin-bottom: 17px;
  }
  .silver-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-bottom: 29px;
  }
  .track-details {
    /*padding: 31px 26px;*/
    background: #0e1218;
    border: 1px solid white;
  }
  .track {
    border: 1px solid #fed853;
    border-radius: 5px;
    padding: 25px 12px;
  }
  .track-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 18px;
    margin-left: 12px;
  }
  .track-details-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 16px;
  }
  .track-details-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
  }
  .duration-box {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    padding: 5px 30px;
    background: black;
    color: white;
  }
  .duration-box span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .duration-length {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-variant: small-caps;
    color: rgba(255, 255, 255, 0.81);
    margin-top: 10px;
  }
  .track-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px !important;
  }
  .card-field {
    padding: 10px;
    background: #0e1218;
    border: 0px;
    border-right: 1px solid white;
    color: white !important;
  }
  .card_number {
    width: 65%;
    margin-left: 12px;
  }
  .card-exp-csv {
    width: 15%;
  }
  .border-right-0 {
    border-right: 0px !important;
  }
  .project-font {
    font-size: 0.9rem !important;
  }
  .credit-debit {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: none;
  }
  .credit-debit span {
    position: relative;
    bottom: 5px;
    left: 10px;
  }
  .mt-80-mb-40 {
    margin-bottom: 40px;
    margin-top: 80px;
  }
  .project-icons {
    text-align: center;
  }
  .me {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
  }
  .someone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
  }
  .song-language-tab{
    /*margin-top: 40px;*/
    /*padding: 24px;*/
    /*color: rgba(255, 255, 255, 0.2);*/
    margin-top: 40px;
    padding: 24px;
    color: rgba(255, 255, 255, 0.2);
    background: #171A1F;
    /* margin: 0; */
    border-radius: 10px;
  }
  .order-btn{
    background: #FF843F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    border: 0px;
    height: 40px;
    margin-top: 40px;
  }
</style>
<main class="crayons-layout crayons-layout--2-cols crayons-layout--limited-l pt-0">
  <div class="crayons-layout__left-sidebar" style="padding-top: 60px">
    <nav class="hidden m:block">
      <a href="<%= organization_feeds_path %>" style="color: white">
        Home
      </a>
      <%# Constants::Settings::ARTIST_TAB_LIST.each do |possible_tab| %>
<!--        <a class="crayons-link crayons-link--block <%# if @tab == possible_tab.downcase.tr(' ', '-') %>crayons-link--current<%# end %>" href="/artist_settings/<%#= possible_tab.downcase.tr(" ", "-") %>">-->
          <%#= possible_tab == "Profile and services" ? "Account Detail Verification" : possible_tab %>
<!--        </a>-->
      <%# end %>
    </nav>
    <div class="m:hidden p-2 pt-0">
      <select id="mobile-page-selector" class="crayons-select">
        <%# Constants::Settings::ARTIST_TAB_LIST.each do |possible_tab| %>
<!--          <option value="/artist_settings/<%#= possible_tab.downcase.tr(" ", "-") %>" <%# if @tab == possible_tab.downcase.tr(' ', '-') %> selected <%# end %>>-->
            <%#= possible_tab == "Profile and services" ? "Account Detail Verification" : possible_tab %>
<!--          </option>-->
        <%# end %>
      </select>
    </div>
  </div>
  <div class="crayons-layout__content">
    <div class="row">
      <div class="container" style="background: #0E1218">
        <div class="row project-card-stories">
          <%= render partial: 'shared/project_card', locals: {project: @organization, music_release: @music_release, composer: @organization.composer_id.present? ? @composers[@organization.composer_id][0] : '', artist_side: false, project_side: true } %>
<!--          <div style="height:10px; background: #ffffff"></div>-->
<!--          <div class="project-card-description-below">-->
<!--            <p>-->
<!--              <p class="funding-text">FUNDING NEW MUSICAL WORK</p>-->
<!--              <p class="works-text">How it works?</p>-->
<!--              <p class="works-text">-->
<!--                Owners of Music Rights (i.e. songwriters, artists, performers) sell a percentage of their future royalty income, from the new music release,  through Unitedbits marketplace to finance new musical work. When an auction is completed, the rights will be available in your wallet. and , Trade music rights at Unitedbits financial marketplace.-->
<!--                Future developments-->
<!--                The Unitedbits protocol, on the Ethereum blockchain, empowers under-resourced music pioneers, investors,  liquidity providers and traders to participate in a financial marketplace for music that is open and accessible to all.-->
<!--              </p>-->
<!--            </p>-->
<!--          </div>-->
        </div>
        <p class="yellow-text" style="display: none">How it works?</p>
        <p class="silver-text" style="display: none">Book now _artist to</p>
      </div>

      <div class="container track-details" style="display: none">
        <div class="track">
          <h1 class="track-title"><%= @music_release.music_release_type.titleize %></h1>
          <div class="crayons-layout crayons-layout--3-cols crayons-layout--limited-l pt-0">
            <div>
              <span class="fa fa-star reviews-project checked"></span>
              <span class="fa fa-star reviews-project checked"></span>
              <span class="fa fa-star reviews-project checked"></span>
              <span class="fa fa-star reviews-project"></span>
              <span class="fa fa-star reviews-project"></span>

              <span class="reviews-text-project">10 reviews</span>
              <p class="track-details-title">DETAILS</p>
              <p class="track-details-description">Playtime length about <%= Time.at(@music_release.length).utc.strftime("%M:%S") %> minutes</p>
              <p class="track-details-description"><%= @music_release.description %></p>
            </div>
            <div>
              <button class="duration-box">
                <span><%= Time.at(@music_release.length).utc.strftime("%M:%S") %></span>
              </button>
              <p class="duration-length">LENGTH</p>
            </div>
            <div>
              <span class="track-price">$<%= number_with_precision(@music_release.price,precision: 2) %></span>
              <p class="duration-length">FIXED PRICE</p>
            </div>
          </div>
        </div>
        <%# if current_user.try(:stripe_id_code).blank? %>
<!--          <div class="debit-card" style="margin-top: 30px">-->
<!--            <h1 class="track-title credit-debit"><%#= image_tag 'circle.png' %> <span>CREDIT / Debit card</span></h1>-->
              <%#= form_tag stripe_active_cards_path, id: "credit-card-form", method: :post do %>
  <!--              <article>-->
                  <%# if flash[:error].present? %>
  <!--                  <div class="crayons-card crayons-card--secondary crayons-notice crayons-notice--danger">-->
  <!--                    <p><%#= flash[:error] %></p>-->
  <!--                  </div>-->
                  <%# end %>
  <!--              </article>-->
  <!--              <input type="hidden" name="from_project" value="true">-->
        <input type="text" id="name" name="name">
        <input type="text" id="email" name="email">
        <input type="text" id="stripe_card_token">
<!--                <div id='card-msg' style="display: none; background: #fff3cd" class="alert alert-warning">Card information has been received</div>-->
<!--                <button id="add-credit-card-button" class="crayons-btn credit-card-button order-btn project-card-btn" type="button">Add Credit Card</button>-->
              <%# end %>
<!--          </div>-->
        <%# end %>
        <div>
          <p class="silver-text mt-80-mb-40">Who is this? Who is this for?</p>
          <div class="project-icons">
            <i style="color: rgb(250, 250, 250,0.2); border: 1px solid rgb(250, 250, 250,0.2); border-radius: 7px; padding: 15px" class="fa fa-user fa-lg"></i>
            <i style="color: rgb(250, 250, 250,0.2); border: 1px solid rgb(250, 250, 250,0.2); border-radius: 7px; padding: 15px; margin-left: 20px" class="fa fa-gift fa-lg"></i>
          </div>
          <div>
            <div class="project-icons">
              <span class="me">For me</span>
              <span class="someone" style="position: relative; left: 18px">Someone else</span>
            </div>
          </div>
        </div>
        <div class="song-language-tab">
          <label for="" style="width: 100%">Select song language</label>
          <input type="text" placeholder="Sir" style="width: 100%; background: rgba(255, 255, 255, 0.2);padding: 8px; margin-top: 11px; margin-bottom: 11px; border: 0px; border-radius: 5px">
          <label for="" style="width: 100%; margin-top: 10px">Delivery date</label>
          <input type="text" placeholder="Sir" style="width: 100%; background: rgba(255, 255, 255, 0.2);padding: 8px; margin-top: 11px; border: 0px; border-radius: 5px">
        </div>

        <div class="song-language-tab">
          <h1 style="font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.1px;

            color: rgba(255, 255, 255, 0.2);margin-bottom: 23px">Instructions</h1>
          <label for="" style="width: 100%">My instructions for Sir Styles are</label>
          <textarea type="text" placeholder="Instructions for sir styles" style="width: 100%; background: rgba(255, 255, 255, 0.2);padding: 8px; margin-top: 11px; margin-bottom: 11px; border: 0px; border-radius: 5px"></textarea>
          <label for="" style="width: 100%; margin-top: 10px">Send as a Gift to:</label>
          <input type="text" placeholder="Recepients name" style="width: 100%; background: rgba(255, 255, 255, 0.2);padding: 8px; margin-top: 11px; border: 0px; border-radius: 5px; margin-bottom: 10px;">
          <label for="" style="width: 100%; margin-top: 10px">Pronoun</label>
          <input type="text" placeholder="Pronoun" style="width: 100%; background: rgba(255, 255, 255, 0.2);padding: 8px; margin-top: 11px; border: 0px; border-radius: 5px; margin-bottom: 11px;">
          <label for="" style="width: 100%; margin-top: 10px">Email</label>
          <input type="text" placeholder="Email address of recipient. We can sent the song to the recipient if you wish." style="width: 100%; background: rgba(255, 255, 255, 0.2);padding: 8px; margin-top: 11px; border: 0px; border-radius: 5px;margin-bottom: 11px;">
          <label for="" style="width: 100%; margin-top: 10px">From</label>
          <input type="text" placeholder="your Name" style="width: 100%; background: rgba(255, 255, 255, 0.2);padding: 8px; margin-top: 11px; border: 0px; border-radius: 5px">
        </div>

<!--        <button class="order-btn" id="order-confirmation-button">-->
<!--          Buy now for $<%#= number_with_precision(@music_release.price, precision: 2) %>-->
<!--        </button>-->
      </div>
<!--      <button class="request-btn" style="width: 100%" id="order-confirmation-button">-->
<!--        Buy now for $<%#= number_with_precision(@music_release.price, precision: 2) %>-->
<!--      </button>-->
    </div>
  </div>
</main>
