<style>
  .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .project-card{
    background: #2D3034;
    backdrop-filter: blur(9px);
  }
  .artist-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 10px;
  }
  .project-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .project-save-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(210, 214, 219, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    float: right;
    border: 0px;
    padding: 4px 13px;
  }
  .project-description-project{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 3px;
  }
  .project-genres-and-awards-projects {
    /*margin-top: 10px;*/
    display: inline-block;
    width: 100%;
  }
  .genre {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.21px;
    color: rgba(255, 255, 255, 0.7);
  }
  .awards {
    background: rgba(39, 39, 39, 0.63);
    border-radius: 5px;
    display: inline;
    margin-right: 5px;
  }
  .awards span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
  }
  .reviews-reactions {
    margin-top: 0px;
    display: inline-block;
    width: 100%;
  }
  .project-date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 0.21px;
    color: rgba(255, 255, 255, 0.7);
    /*float: left;*/
    margin-right: 15%;
    margin-bottom: 5px;
  }
  .reviews-project {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FED853;
  }
  .reviews-text-project {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FED853;
  }
  .reactions-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #AFB0B0;
  }
  .reactions-icon-project {
    color: white;
    float: right;
  }
  .save-btn-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
  .bookmark-icon-project{
    color: white;
    float: right;
    margin: 7px;
    font-size: 18px;
  }
  .price-btn{
    justify-content: center;
    align-items: center;
    height: 57px;
    width: 40%;
    margin-top: 2px;
    background: #1A1C1E;
    border: 0px;
  }
  .price-span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-right: 12px;
  }
  .time-span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
  }
  .request-btn{
    /*background: #FED853;*/
    background: black;
    color: white;
    width: 60%;
    height: 57px;
    margin-top: 2px;
    border: 0px;
  }
  .request-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 21px;
    /*color: #000000;*/
    color: white;
    font-size: 12px;
    text-transform: uppercase;
  }
  .request-span-text{
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .banner-logo-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }
  .banner-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    color: #3a3a3a;
  }
  .banner-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    color: #3A3A3A;
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
  }
  .project-card-btn{
    background: #FED853 !important;
    color: black !important;
  }
  .logo-icon {
    position: relative;
    top: 15px;
    right: 10px;
  }
  .banner-pd-90 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .updated-login-card {
    background: #28292d;
    border: 3px solid #030303;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px #030303;
    border-radius: 5px;
    color: white;
  }
  .updated-login-card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }
  .updated-login-card-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    color: #ffffff;
  }
  .login-card-btn {
    background: #fed853 !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) !important;
    border-radius: 5px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }
  .login-card-signin {
    color: white;
    text-align: center;
    margin-top: 10px;
  }
  .pd-b-0{
    padding-bottom: 0px !important;
  }
  .login-btn-updated {
    background: black;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    margin: auto;
    margin-top: 50px
  }
  .copies-project{
    /*display: none;*/
    color: white;
    /*margin-bottom: 10px;*/
    /*font-family: 'Roboto';*/
    /*color: white;*/
    /* margin-bottom: 10px; */
    font-family: 'Roboto';
    font-size: 13px;
    margin-top: 5px;
  }
  /*@media only screen and (max-width: 600px) {*/
    .project-save-btn{
      display: none;
    }
    .project-genres-and-awards{
      display: none;
    }
    /*.reviews-reactions{*/
    /*  display: none;*/
    /*}*/
    .reviews-text{
      display: none;
    }
    .bookmark-icon{
      display: none !important;
    }
    .reviews{
      display: none !important;
    }
    .reactions-icon{
      display: none;
    }
    .project-description{
      display: none;
    }
    .copies{
      display: block;
    }
  /*}*/
  .margin-bottom-30{
    margin-bottom: 30px !important;
  }
  .p-l-r-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .project-card-content{
    padding-left: 10px;
  }
  .p-l-0{
    padding-left: 0px !important;
  }
  .pink-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    font-size: 1.2em;
    line-height: 28px;
    text-transform: uppercase;
    /*color: #FF0099;*/
    color: #EF117E;
    /*margin-left: 10px;*/
    /*margin-top: 10px;*/
  }
  .desc-text{
    font-size: 12px !important;
  }
  .m-b-10{
    margin-bottom: 10px !important;
  }
  .m-l-5{
    margin-left: 5px;
  }
  .display-inline{
    display: inline !important;
  }
  .p-l-10{
    padding-left: 10px;
  }
  .amt-bg{
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .f-s-9{
    font-size: 9px !important;
    line-height: 20px !important;
    font-weight: 400;
  }
  .amt-data{
    --layout-sidebar-right-width: 1fr !important;
    --layout-sidebar-left-width: 3fr !important;
    --layout-content-width: 3fr !important;
  }
  .m-b-0{
    margin-bottom: 0px !important;
  }
  .m-t-10{
    margin-top: 10px;
  }
  .funding-text{
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 25px !important;
    color: #FFFFFF !important;
  }
  .works-text{
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 25px !important;
    color: #FFFFFF !important;
  }
</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navigation-progress" id="navigation-progress"></div>
<header class="crayons-header print-hidden" role="banner">
  <a href="#articles-list" class="skip-content-link">Skip to content</a>
  <div class="crayons-header__container">
    <%= render "layouts/logo" %>

    <div id="pwa-nav-buttons" class="pwa-nav-buttons">
      <button type="button" id="app-back-button">
        <%= inline_svg_tag("keyboard-left-arrow-button.svg", aria: true, width: 16, height: 16, class: "crayons-icon", title: "Back") %>
      </button>
      <button type="button" id="app-forward-button">
        <%= inline_svg_tag("keyboard-right-arrow-button.svg", aria: true, width: 16, height: 16, class: "crayons-icon", title: "Forward") %>
      </button>
      <button type="button" id="app-refresh-button">
        <%= inline_svg_tag("refresh-button.svg", aria: true, width: 16, height: 16, class: "crayons-icon", title: "Refresh") %>
      </button>
    </div>

    <div class="crayons-header--search" id="header-search">
      <form acceptCharset="UTF-8" method="get" action="/search">
        <input class="crayons-header--search-input crayons-textfield" type="text" name="q" id="nav-search" placeholder="Search..." autoComplete="off" />
      </form>
    </div>

    <div class="crayons-header__links">
      <% if user_signed_in? %>
        <a href="/new" class="crayons-btn hidden mr-2 whitespace-nowrap s:block">Write a post</a>

        <a id="moderation-link" class="crayons-header__link trusted-visible-block" aria-label="Moderation" href="<%= mod_path %>">
          <%= inline_svg_tag("mod.svg", aria: true, class: "crayons-icon", title: "Moderation") %>
        </a>

        <a href="/connect" id="connect-link" class="crayons-header__link" aria-label="Connect">
          <%= inline_svg_tag("connect.svg", aria: true, class: "crayons-icon", title: "Connect") %>
          <span class="crayons-indicator crayons-indicator--accent hidden" id="connect-number"></span>
        </a>

        <a href="/notifications" id="notifications-link" class="crayons-header__link" aria-label="Notifications">
          <%= inline_svg_tag("bell.svg", aria: true, class: "crayons-icon", title: "Notifications") %>
          <span class="crayons-indicator crayons-indicator--critical hidden" id="notifications-number"></span>
        </a>
      <% else %>
        <a href="<%= new_artist_application_path %>" class="crayons-btn hidden mr-2 whitespace-nowrap s:block" style="background: #454545; color: white" data-no-instant>
          Talent Enroll
        </a>

        <a href="<%= sign_up_path %>" class="crayons-btn crayons-btn--ghost-brand hidden mr-2 whitespace-nowrap s:block" data-no-instant>
          Log in
        </a>

        <a href="<%= sign_up_path(state: "new-user") %>" class="crayons-btn hidden mr-2 whitespace-nowrap s:block" data-no-instant>
          Create account
        </a>
      <% end %>
      <div class="crayons-header__menu <% unless user_signed_in? %>s:hidden<% end %>" id="crayons-header__menu">
        <button type="button" class="crayons-header__menu__trigger" id="navigation-butt" aria-label="Navigation menu">
          <% if user_signed_in? %>
            <span class="crayons-avatar crayons-avatar--l"><img class="crayons-avatar__image" alt="" id="nav-profile-image" width="32" height="32" /></span>
          <% else %>
            <%= inline_svg_tag("hamburger.svg", aria: true, class: "crayons-icon", title: "Navigation menu") %>
          <% end %>
        </button>
        <%= render "layouts/nav_menu" %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <script async>
      // Here we have some scripts we want to get working on before
      // waiting for the page to stream in.

      // Load the current user's pic as quickly as it's available
      var currentUser = localStorage.getItem('current_user')
      var navProfilePic = document.getElementById('nav-profile-image')
      if (currentUser && navProfilePic) {
        navProfilePic.src = JSON.parse(currentUser).profile_image_90;
      }
      //showing settings
      setTimeout(function (){
        setSettings();
      }, 1000)

      function setSettings(){
        var parsedUser = JSON.parse(localStorage.getItem('current_user'));
        if (parsedUser){
          if (parsedUser.admin){
            document.getElementById('user_settings').style.display = 'block'
            document.getElementById('artist_settings').style.display = 'block'
            document.getElementById('artist_settings').href = '/artist_settings/profile-and-services'
            document.getElementById('artist_settings').style.cursor = 'pointer'
          } else if (parsedUser.customer){
            document.getElementById('user_settings').style.display = 'block'
          } else {
            document.getElementById('user_settings').style.display = 'block'
            document.getElementById('artist_settings').style.display = 'block'
          }
        }
      }

      // Load notifications count as quickly as it's available.
      // Not if we're on the notifications page itself
      if (
        window.location.pathname !== '/notifications'
      ) {
        var xmlhttp;
        if (window.XMLHttpRequest) {
          xmlhttp = new XMLHttpRequest();
        } else {
          xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');
        }
        xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == XMLHttpRequest.DONE) {
            var count = xmlhttp.response;
            if (isNaN(count)) {
              document
                .getElementById('notifications-number')
                .classList.add('hidden');
            } else if (count != '0' && count != undefined && count != '') {
              document.getElementById('notifications-number').innerHTML =
                xmlhttp.response;
              document
                .getElementById('notifications-number')
                .classList.remove('hidden');
            } else {
              document
                .getElementById('notifications-number')
                .classList.add('hidden');
            }
          }
        };

        xmlhttp.open('GET', '/notifications/counts', true);
        xmlhttp.send();
      }
    </script>
  <% end %>
</header>
